
<% @type = "" %>
<% @controller = params[:controller] %>
<% if @controller == "problems" %>
	<% @type = "Problem" %>
<% elsif @controller == "cproblems" %>
	<% @type = "Cproblem" %>
	<div hidden id = "contest_id"><%= @contest.id %></div>
<% else %>
	<% @type = "AssignmentProblem" %>
<% end %>

<%= render partial: "solutions/control_bar" %>
<div class="a4">
	<%= render partial: "solutions/editor" %>
	<%= render partial: "solutions/input_box" %>
	<%= render partial: "solutions/console" %>
</div>

<script>
	var editor = ace.edit("editor");
	var edit_session = editor.getSession();
	var default_code = document.getElementById('problem_default_code');
	var student_code = document.getElementById('problem_student_code');
	if(student_code.value === "")
		edit_session.setValue(default_code.value);
	else
		edit_session.setValue(student_code.value);
	editor.setTheme("ace/theme/twilight");
	edit_session.setMode("ace/mode/java");
</script>

