<!-- The flash messages for the succes and failure scenarios -->
<p style="color: green"><%= flash[:success] %></p>
<p style="color: red"><%= flash[:alert] %></p>
<p> <%= @input %> </p>
<!-- Timer that starts when problem is shown --> 
<b>Time spent:</b> 
<span id="mins">0</span>:<span id="secs">00</span>

<div>
<%= form_for :solution,
	:url => { :controller => "solutions", :action => "create" },
	:html => {:method => :post} do |f| %>
	<%= @code = f.text_area :code, placeholder: "Write your code here and then click submit",
			class: "editor" %>
	<%= f.hidden_field :problem_id, value: params[:id] %>
	<br>
	<table width='100%'>
		<tr>
			<td>
				<%= button_tag 'Debug', id: 'debug' %>
				<%= button_tag 'Previous Step', id: 'previous', disabled: true %>
				<%= button_tag 'Next Step', id: 'next', disabled: true %>
			</td>
			<td style='text-align:right;'>
				<b class='accepted'>Accepted</b>
				<b class='wrong_answer'>Wrong Answer</b>
				<b class='runtime_error'>Runtime Error</b>
				<b class='compilation_error'>Compilation Error</b>
				<%= f.submit "Compile"%>
				<%= f.submit "Run Test Case"%>
				<%= f.submit "Submit"%>
			</td>
		</tr>
	</table>
	<br /><br />
		<div>
			<b>Input:</b></br>
			<%= f.text_area :input, placeholder: "Write your test case here",
				class: "form-control", style: "width:400px" %>
		</div>
		</br>
		<div>
			<b>Output:</b>
			<% if flash[:exp] %>
				<div class="panel panel-danger fixed-content", style="white-space: pre">
						<div class="panel-heading", style="min-height: 30px; max-height: 30px; line-height:0.25px; margin-top: -45px">
							<h3 class="panel-title"> Error </h3>
						</div>
						<div class="panel-body", style= "margin-top:-100px">
							<p><%= flash[:msg] %></p>
						</div>
						<div class="panel-heading", style="min-height: 30px; max-height: 30px; line-height:0.25px; margin-top: -90px">
							<h3 class="panel-title"> Explanation </h3>
						</div>
						<div class="panel-body", style= "margin-top:-100px">
							<p><%= flash[:exp] %></p>
						</div>
				</div>
			<% end %>
		</div>
<% end %>
</div>