
<%= render partial: "solutions/timer" %>
<%= render partial: "solutions/control_bar" %>
<div class="a4">
	<%= render partial: "solutions/editor" %>
	<%= render partial: "solutions/input_box" %>
	<%= render partial: "solutions/console" %>
</div>


<script>
	var editor = ace.edit("editor");
	var edit_session = editor.getSession();
	editor.setTheme("ace/theme/twilight");
	edit_session.setMode("ace/mode/java");
</script>
