<!-- Timer that starts when problem is shown -->
<b>Time spent:</b>
<span id="mins">0</span>:<span id="secs">00</span>
<%= form_for :solution,
	:url => { :controller => "solutions", :action => "create" },
	:html => {:method => :post} do |f| %>
<%=
	@code = f.hidden_field "code", :id =>'solution_code',
	value: flash[:previous_code] == nil ?
		"\tpublic static void main(String [] args) {\n\t\t\n\t}\n}"
		 : flash[:previous_code].to_s
%>
<%= f.hidden_field :problem_id, value: params[:id] %>

</div>
<br>
<div class="a4">
<table width='100%'>
	
	<tr>
	
		<td>
		



			
			<div class="" style="float:left; margin:5px; margin-left:10px;"><img src="/assets/compile_w.png" id='compileButton' onClick= "compile(<%=params[:id]%>)" style= "height: 32px; width: 32px; cursor:pointer; float:left;" title="Compile" ></img></div>

			<div class="" style="float:left; margin:5px;"><img src="/assets/run_w.png" id='testButton' onClick= "run_input(<%=params[:id]%>)" style= "height: 32px; width: 32px; cursor:pointer; float:left;" title="Run Test Case" ></img></div>

			<div class="" style="float:left; margin:5px;"><img src="/assets/debug_w.png" id='debugButton' onClick= "start_debug(<%=params[:id]%>)" style= "height: 32px; width: 32px; cursor:pointer; float:left;" title="Start Debugging" ></img></div>



			<div class="" style="float:left; margin:5px; margin-left:10px;"><img src="/assets/previous_w.png" id='previousButton' onClick= "previous()" style= "height: 32px; width: 32px; cursor:pointer; float:left;" title="Previous" hidden="true" ></img></div>

			<div class="" style="float:left; margin:5px;"><img src="/assets/next_w.png" id='nextButton' onClick= "next()" style= "height: 32px; width: 32px; cursor:pointer; float:left;" title="Next" hidden="true" ></img></div>
	
			<div class="" style="float:left; margin:5px;"><img src="/assets/stop_w.png" id='stopButton' onClick= "stop()" style= "height: 32px; width: 32px; cursor:pointer; float:left;" title="Stop Debugging" hidden="true" ></img></div>
			
			<%= button_tag 'Stop Debugging', type: 'Button', class: "btn btn-info",
				style: "display: none", id: 'stopButton', 
				onClick: 'stop()', hidden: true %>
			<span id="spinner" class="" align="center"></span>
		</td>
		<td style='text-align:right;'>
			<b class='accepted'>Accepted</b>
			<b class='wrong_answer'>Wrong Answer</b>
			<b class='runtime_error'>Runtime Error</b>
			<b class='compilation_error'>Compilation Error</b>

			



			<div class="" style=" float: right; margin:5px;"><img src="/assets/submit_w.png" id='submitButton' onClick= "validate_code(<%=params[:id]%>)" style= "height: 32px; width: 32px; cursor:pointer; float:right;" title="Submit" ></img></div>
			<div class="" style="float:right; margin:5px; margin-left:10px;"><img src="/assets/reload_w.png" id='reloadButton' onClick= "reload_template()" style= "height: 32px; width: 32px; cursor:pointer;" title="Reload Template" ></img></div>
			

		</td>
	
	</tr>

</table>
</div>

<!-- Add editor -->
<pre id="editor">
</pre>
<%= f.hidden_field :problem_id, value: params[:id] %>
<br>

<br /><br />

<div>
	<b>Input:</b></br>
	<%= f.text_area :solution_input, placeholder: "Write your test case here", 
		id: "solution_input", class: "form-control", style: "width:400px" %>
</div>
</br>

<!--Author: Ahmed Moataz-->
<b>Console:</b><br/>
<div class="console">	
	<!-- Compiler -->
	<p class="compilation_succeeded"></p>
	<p class="compilation_failed"></p>
	<p class="compilation_feedback"></p>
	<!-- Test Cases -->
	<div id="validate_case" >
	</div>
	<div id="output_section" style = "color: black; font-weight: bold; font-size: 20px"></div>
	<!-- Runtime Messages -->
	<div id="runtime_error", style="display: none">
		<div class="panel-danger", style="white-space: pre">
			<div class="panel-heading", style="min-height: 30px;
				max-height: 30px; line-height:0.25px; margin-top: -45px">
				<h3 class="panel-title"> Error </h3>
			</div>
			<br/>
			<div id="error_section" class="panel-body" style= "margin-top:-100px">
			</div>
			
			<div class="panel-heading", style="min-height: 30px;
				max-height: 30px; line-height:0.25px; margin-top: -90px">
				<h3 class="panel-title"> Explanation </h3>
			</div>
			<br/>
			<div id="explanation_section" class = "panel-body" 
				style = "margin-top:-100px; min-height: 50px;max-height: 50px;"></div>
		</div>
	</div>
</div>
<script>
	var editor = ace.edit("editor");
	var edit_session = editor.getSession();
	var hidden_code_field = document.getElementById('solution_code')
	var code_header = "public class CoolSoft {\n";
	var code_footer = "\n}";

	editor.setTheme("ace/theme/twilight");
	edit_session.setMode("ace/mode/java");

	edit_session.setValue(code_header + hidden_code_field.value);

	var code_filter_function = function(event_handler) {
		var unfiltered_code = edit_session.getValue();
		var code_len = unfiltered_code.length;
		var line_count = edit_session.doc.getAllLines().length;
		hidden_code_field.value = unfiltered_code.slice(code_header.length)
	};
	edit_session.on('change', code_filter_function);
</script>
<style type="text/css">

.a3 img {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}
.a3 img:hover {
	opacity: 0.7;
}

.a4 {
	background-color: rgb(35,35,35);
	border-radius:4px;
	border: thin;
	border-style: solid;
	border-color: rgb(204,204,204);
	margin-bottom: 1px;
}

</style>
<% end %>