<!-- Timer that starts when problem is shown -->
<b>Time spent:</b>
<span id="mins">0</span>:<span id="secs">00</span>

<%= form_for :solution,
	:url => { :controller => "solutions", :action => "create" },
	:html => {:method => :post}, remote: true do |f| %>
	<%= f.text_area :code, placeholder: "Write your code here and then click submit",
				class: "editor" %>
	<br>
	<table width='100%'>
		<tr>
			<td>
				<%= button_tag 'Compile', type: 'Button',
					id: 'compileButton', onClick: 'compile()' %>
				<%= button_tag 'Test', type: 'Button',
					id: 'testButton', onClick: 'test()' %>
				<%= button_tag 'Start Debugging', type: 'Button',
					id: 'debugButton', onClick: 'debug()' %>
				<%= button_tag 'Previous', type: 'Button',
					id: 'previousButton', onClick: 'previous()', hidden: true %>
				<%= button_tag 'Next', type: 'Button',
					id: 'nextButton', onClick: 'next()', hidden: true %>
				<%= button_tag 'Stop Debugging', type: 'Button',
					id: 'stopButton', onClick: 'stop()', hidden: true %>
			</td>
			<td style='text-align:right;'>
				<b class='accepted'>Accepted</b>
				<b class='wrong_answer'>Wrong Answer</b>
				<b class='runtime_error'>Runtime Error</b>
				<b class='compilation_error'>Compilation Error</b>
				<%= button_tag 'Submit', type: 'Button',
					id: 'submitButton', onClick: "validate_code(#{params[:id]})" %>
			</td>
		</tr>
	</table>
	<br /><br />
	<textarea class='test'>Test Input</textarea><br /><br />
	<b>Output:</b><br />
	<p class='output'>
		Output response
		<div style="color: red" id="validate_error">
		</div>
		<div style="color: green" id="validate_success">
		</div>
	</p>
<% end %>