<div class= "alert alert-danger"><%= flash[:notice] %></div>
<table  style = "width:60%">
	<tbody>
		<tr>
			<td style = "font-weight:bold;font-size:150%;"><p>Line</p></td>
			<td style = "font-weight:bold;font-size:150%;"><p>Code</p></td>
			<td style = "font-weight:bold;font-size:150%;width:150px;"><p align= "center">Note Action</p></td>
		</tr>
		<% @counter = 0 %>
		<% @lines.each do |line| %>
			<% @counter+= 1 %>
			<% @note = Note.where(solution_id: @solution.id, line: @counter).last %>
			<tr>
				<td><%= @counter %></td>
				<td>
					<pre title ="<%if !@note.blank?%><%= @note.content %>
						<%else %><%= "No note added to this line" %>
						<% end %>" style = "font-weight:bold;"><%= line %></pre>
				</td>
				<td ><p align= "center">
					<% if @note.blank? %>
						<%= image_tag "note.png", id: @counter,
							style: "opacity:0;align:center;width:25%;height:15%;margin_top:10px;cursor:pointer;", onMouseOver: "show(this.id);", onMouseOut: "hide(this.id);",
							onclick: "pop(this.id);" %>
					<% else %>
						<%= image_tag "edit_button.png", id: @counter,
							style: "align:center;width:17%;height:1%;margin_top:10px;cursor:pointer;", onclick: "pop(this.id);" %>
					<% end %></p>
				</td>
					<div id = "<%= @counter %>form"
						style = "visibility:visible;display:none;width:60%;">
						<% if @note.blank? %>
							<%= form_for :Note, url: {controller: "notes",
								action: "create"} do |note| %>
								<p>
									<%= note.text_field :content, class: "form-control",
									style: "width:60%",
									placeholder: "Write your note here!" %>
								</p>
									<%= note.hidden_field :solution_id, value: @solution.id %>
									<%= note.hidden_field :line, value: @counter %>
								<p>
									<%= note.submit "Save Note", class: "btn btn-info" %>
								</p>
							<% end %>
						<% else %>
							<%= form_for :Note, url: note_path(@note), method: :patch do |note| %>
								<p>
									<%= note.label :content %><br> 
									<%= note.text_field :content, class: "form-control",
									style: "width:60%", placeholder: @note.content %>
								</p>
									<%= note.hidden_field :solution_id, value: @solution.id %>
									<%= note.hidden_field :line, value: @counter %>
								<p>
									<%= note.submit "Update Note", class: "btn btn-info" %>
								</p>
							<% end %>
							<%= button_to "Delete Note",{:controller => 'notes',
								:action => 'destroy', :id => @note.id}, method: :delete,
								class: "btn btn-info" %>
						<% end %>
					</div>
			</tr>
		<% end %>
	</tbody>
</table>
<script>
	function show(id){
		document.getElementById(id).style.opacity = 1;
	}
	function hide(id){
		document.getElementById(id).style.opacity = 0;
	}
	function pop(id){
		id += "form"
		document.getElementById(id).style.display = 'initial'
		$(document.getElementById(id)).bPopup({
			modalClose: false,
			opacity: 0.6,
			positionStyle: 'fixed',
			speed: 650,
			transition: 'slideIn'
		});
	}
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/x.x.x/jquery.min.js"></script>
<script src="jquery.bpopup-x.x.x.min.js"></script>