<!-- The flash messages for the succes and failure scenarios -->
<p style="color: green"><%= flash[:success] %></p>
<p style="color: red"><%= flash[:alert] %></p>

<!-- Timer that starts when problem is shown -->
<b>Time spent:</b>
<span id="mins">0</span>:<span id="secs">00</span>

<%= form_for :solution, url: {controller: 'solutions', action: 'create'},
	html: {method: 'post'} do |f| %>

	<!--Author: Ahmed Moataz-->
	<div class="editor_border">
		<div class="editor_top">
			<div style="margin-left: 2px;">
				public class CoolSoft {
			</div>
		</div>
		<%= @code = f.text_area :code,
			value: flash[:previous_code]==nil ?
				"\tpublic static void main(String [] args) {\n\t\t\n\t}" :
				flash[:previous_code].to_s,
			placeholder: "Write your code here!",
			class: "editor" %>
		<div class="editor_bottom">
			<div style="margin-left: 2px;">
				}
			</div>
		</div>
	</div>

	<%= f.hidden_field :problem_id, value: params[:id] %>
	<br>
	<table width='100%'>
		<tr>
			<td>
				<%= button_tag 'Compile', type: 'Button',
					id: 'compileButton', onClick: "compile(#{params[:id]})", class: "btn btn-info" %>
				<%= button_tag 'Run Test Case', class: "btn btn-info", id: 'testButton', type: 'Button' %>
				<%= button_tag 'Start Debugging', id: 'debugButton', type: 'button',
					onclick: "start_debug(#{params[:id]})", class: "btn btn-info" %>	
				<%= button_tag 'Previous', type: 'Button', class: "btn btn-info", 
					style: "display: none", id: 'previousButton', 
					onClick: 'previous()', hidden: true %>
				<%= button_tag 'Next', type: 'Button', class: "btn btn-info",
					style: "display: none", id: 'nextButton',
					onClick: 'next()', hidden: true %>
				<%= button_tag 'Stop Debugging', type: 'Button', class: "btn btn-info",
					style: "display: none", id: 'stopButton', 
					onClick: 'stop()', hidden: true%>
					
				<span id="spinner" class="" align="center"></span>
			</td>
			<td style='text-align:right;'>
				<b class='accepted'>Accepted</b>
				<b class='wrong_answer'>Wrong Answer</b>
				<b class='runtime_error'>Runtime Error</b>
				<b class='compilation_error'>Compilation Error</b>
				<%= f.submit "Submit", confirm: 'Are you sure you want to submit your solution?', class: "btn btn-info" %>
				<%= f.submit "Compile", class: "btn btn-info" %>
				
			</td>
		</tr>
	</table>
	<br /><br />
	<div>
		<b>Input:</b></br>
		<%= f.text_area :input, placeholder: "Write your test case here", 
			value: @input, class: "form-control", style: "width:400px" %>
	</div>
	</br>
	<!--Author: Ahmed Moataz-->
	<b>Console:</b><br/>
	<div class="console">
		<p class="compilation_succeeded"></p>
		<p class="compilation_failed"></p>
		<p class="compilation_feedback"></p>
		<% if flash[:exp] %>
			<div class="panel-danger", style="white-space: pre">
				<div class="panel-heading", style="min-height: 30px;
				max-height: 30px; line-height:0.25px; margin-top: -45px">
					<h3 class="panel-title"> Error </h3>
				</div>
				<div class="panel-body", style= "margin-top:-100px">
					<p><%= flash[:msg] %></p>
				</div>
				<div class="panel-heading", style="min-height: 30px;
				max-height: 30px; line-height:0.25px; margin-top: -90px">
					<h3 class="panel-title"> Explanation </h3>
				</div>
				<div class="panel-body", style= "margin-top:-100px; min-height: 50px;
				max-height: 50px;">
					<p><%= flash[:exp] %></p>
				</div>
			</div>
		<% else %>
			<div style= "color: white; font-weight: bold; font-size: 15px">
				<p><%= flash[:msg] %></p>
			</div>
		<% end %>
	</div>

<% end %>