<h1>Topics#new</h1>
<!-- <p>Find me in app/views/topics/new.html.erb</p>  -->

<%= flash[:notice] %>

<%= form_for :topic, url: topics_path do |f| %>
  <p>
    <%= f.label "Title" %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
