<!-- 	Name: The New Topic Form 
		Author: Ahmed Akram
-->

<div align="center">
	<h1>New Topic</h1>
	<br/>
	<% if flash[:notice] -%>
		<div class="alert alert-warning", style="width:180px"><%= flash[:notice] %></div>
	<% end %>
	<!-- Rendering the form fields -->
	<%= form_for :topic, url: {action: "create"} do  |f| %>
		<p>
			<%= f.label "Title" %><br>
			<%= f.text_field :title, autofocus: true, class:"form-control", style: "width:300px", placeholder: "Title", :value => @new_topic.title %>
		</p>
		<p>
			<%= f.label :description %><br>
			<%= f.text_area :description, class:"form-control", style: "margin-left:auto;
			margin-right:auto;height:200px;width:500px;resize:none", placeholder: "Description", :value => @new_topic.description  %>
		</p>
		<p>
			<%= f.submit "Save", class: "btn btn-success"%>
		</p>
	<% end %>

	<!-- A back to courses list button -->
	<%= button_to "Back", {:controller => 'courses', :action => 'index'}, class: "btn btn-success", style: "float:right; margin-top:-50px", :method => :get %>
</div>