<div class="page-header">
	<h1><%= link_to @course.name , @course , style: "color: black" %>
		<small><%= link_to @topic.title , @topic  , style: "color: black" %></small></h1>
	<% if @can_edit %>
		<img src="/assets/glyphicons_406_sort-by-order.png" 
			alt="Glyphicons 280 settings">
		<span style="display: true;" id="note">&nbsp;&nbsp;
			Tracks are sorted from easiest to the hardest.</span> 
	<% end %>
	<div id="alert" class = "hide"></div>
</div>
	<% if @can_edit %>
		<% if flash[:error] %>
			<div class = "alert alert-danger" style = "width:25%; 
					color: back" ><%= flash[:error] %>
			</div><br>
		<% end %>
		<% if flash[:success] %>
			<div class = "alert alert-success" style = "
					width:25%;" ><%= flash[:success] %>
			</div><br>
		<% end %>
	<% end %>

<% openable = true %>
<div class="panel-group list-group" id="accordion">
	<% @tracks.each do |t| %>
		<% if openable %>
			<% open = "in" %>
			<% openarrow = "glyphicon-chevron-down" %>
			<% openable = false %>
		<% else %>
			<% open = "" %>
			<% openarrow = "glyphicon-chevron-right" %>
		<% end %>
		<div id="<%= t.id.to_s + "test" %>" class = "panel panel-default" style = "width: 50%">
			<div class="panel-title list-group-item list-group-item-info">
				<a class="icon glyphicon <%= openarrow %>" href="#<%= t.id.to_s %>"
					data-toggle="collapse" data-parent="#accordion"
					style="margin-right:1%;text-decoration: none;">
				</a>
				<%= link_to t.title , t , style: 'color:#003366;' %>
				<span class="badge"><%= t.problems.count %></span>
			</div>
			<div id="<%= t.id.to_s %>" class="panel-collapse collapse <%= open %>">
				<ul class="list-group">
					<% t.problems.each do |p| %>
						<% color = "" %>
						<% if student_signed_in? && p.is_solved_by_student(current_student.id) %>
							<% color = "label label-success" %>
						<% end %>
						<li class="list-group-item" data-toggle="tooltip"
							data-placement="top" title="<%= p.description%>">
								<%= link_to p.title , p , class: color %>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	<% end %>
</div>

<!-- thats a form for creating a track which is intially hidden
		until the new button clicked -->
<% if @can_edit %>
	<span class="btn btn-info" onclick="newTrack()" id="new_track">New</span>
	<span class="btn btn-info" data-toggle = "tooltip" data-placement = "right"
		title= "Click to drag and drop the tracks to sort 
		them according to their difficulty rating!" onclick="test()" 
		id="editTrackRatingbtn" style="display: true;">
		Edit track rating</span> 		
	<span class="btn btn-info" onclick="submitNewRating()" id="submitNewRatingbtn" 
		style="display: none;">
		Submit new rating!</span>
	<% if !flash[:title] && !flash[:difficulty] %>
		<% hide = 'hidden=true' %>
	<% end %>
	<div id="create_track" <%= hide %> >
		<%= form_for :Track , url: {controller: "tracks" , action: "create"}, 
		html: {class: "form-inline form-horizontal nifty_form" , role: "form"} do |f| %>
			<div class="form-group">
				<%= f.text_field :title , :value => flash[:title] , 
					:class => "form-control", :style => "width:150px", :placeholder => "Title" %></br></br>
				<%= f.number_field :difficulty , :value => flash[:difficulty] , 
					:class => "form-control" , :placeholder => "Difficulty" , 
					:min => 1, :max => 5, :style => "width:150px" %>
				</br></br>
				<%= f.hidden_field :topic_id , :value => params[:id] %>
				<%= f.submit "Create" , :class => "btn btn-info" %>
			</div><!-- /form-group -->
		<% end %><!-- /form -->
	</div><!-- /create_track -->
<% end %><!-- /can_edit -->