<%= form_for :assignment, url: assignments_path do |f| %>

<body>

<p>

	<br><%= f.label :Title %></br>
		<%= f.text_field :title, placeholder:"Title" %>
		<br><%= f.label :Description %> </br>
	<%= f.text_area :description, placeholder:"Description" %>
	<br><%= f.label :Due_date %> </br>
	<%= f.date_select :due_date, {:start_year => Date.today.year, :end_year => Date.today.year+3} %>


</p>
<br>
<div class = "centered"> 
<%= f.submit "Save", class: "btn btn-info btn-large" %>
</div>
</br>



</body>
<% end %>

<style>
body
{
	text-align: center;
}
.centered
{
    text-align:center;
}
</style>
