<div class="body2" style="vertical-align: auto;horizontal-align: auto; float:left;">
<% if @new_assignment.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@new_assignment.errors.count, "error") %> prohibited this assignment from being saved:
		</h2>
		<ul>
			<% @new_assignment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
<% end %> 

<%= form_for :assignment, url: assignments_path do |f| %>

<h2> Create Assignment </h2>
<p>
	<br><p><h3><%= f.label :Title %></h3></p>
		<p><%= f.text_field :title, placeholder:"Title" %>
		</p>
	<p><h3>	<%= f.label :Description %></h3></p>
	<p><%= f.text_area :description, class:"form-control" ,placeholder:"Description", :cols => "50", :rows => "10"; %>
	</p>
	

	

     <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
  $(function() {
    $( "#datepicker" ).datepicker();
    
  });
  </script>

 <p><h3><%= f.label :Due_date %></h3></p>
<p>Date: <input type="text" id="datepicker">

Time:<%= f.time_select :time %></p>


<!-- time -->


<br>
<p>
<%= f.submit "Save", class: "btn btn-info btn-large" %>
</p>
<br>


</h3>
<% end %>

</div>

<style>
.body2
{
	text-align: left;
}
.centered
{
    text-align:center;
}

</style>
