<div class="body2" style="vertical-align: auto;horizontal-align: auto; float:left;">


<%= form_for :assignment, url: assignments_path do |f| %>

<h2> Create Assignment </h2>
<p>
	<br><p><h3><%= f.label :Title %></h3></p>
		<p><%= f.text_field :title, placeholder:"Title" %>
		</p>
	<p><h3>	<%= f.label :Description %></h3></p>
	<p><%= f.text_area :description, class:"form-control" ,placeholder:"Description", :cols => "50", :rows => "10"; %>
	</p>
	<p><h3>
	<%= f.label :Due_date %></h3></p>
	<p><%= f.date_select :due_date, {:start_year => Date.today.year, :end_year => Date.today.year+3} %>
	<%=date_select "user", "cc_date", :start_year => 2014,
                               :order => [:year, :month,:day]%>
                               <div class="well">
  <div class="input-append date" id="datetimepicker" data-date="12-02-2012" data-date-format="dd-mm-yyyy">
    <input size="16" type="text" value="12-02-2012" readonly>
    <span class="add-on"><i class="icon-th"></i></span>
</div>
</div>
</p>

<br>
<p>
<%= f.submit "Save", class: "btn btn-info btn-large" %>
</p>
<br>


</h3>
<% end %>
</div>

<style>
.body2
{
	text-align: left;
}
.centered
{
    text-align:center;
}

</style>
