<div class= "left-box" >
	<div class="xob">
		<div class = "course_info panel-body" >
			<div class= "row c_title">
				<div class="course_code"><%= @course.code %></div>
				<div class="course_name"><%= link_to @course.name, @course, style: "color: grey" %></div>
			</div>
			<div class="row">
				<div class="course_sem">
					Semester <%= @course.semester %>
					Class <%= @course.year %>
				</div>
			</div>
		</div>
			<h1>
				<% if current_student %>
					<% if @assignment_corrected_flag == false %>
						<% if @assignment_submitted_flag == true %>
							<span class="badge" style="float: right;">Assignment submitted</span>
							<br>
							<span class="badge" style="float: right;">Assignment not corrected yet</span>
						<% end %>
					<% else %>
						<span class="badge" style="float: right;">Assignment submitted</span>
						<br>
						<span class="badge" style="float: right;">Assignemnt corrected</span>
					<% end %>
				<% end %> 
			</h1>
		<br>
		<div id="assignment_info" style="text-align: center; font-size: 16pt;">
			<p> Assignment title: <b><%= @assignment.title %></b></p>
			<p> Submission: <%= @assignment.due_date.day %>.
				<%= @assignment.due_date.month %>.
				<%= @assignment.due_date.year %><p>
		</div>
		<% if @assignment.description != nil %>
			<div id="assignment_description" style="font-size: 14pt;">
				<p><b>Assignment description:</b><br><br>&nbsp;&nbsp;&nbsp;&nbsp;
					<%= @assignment.description %></p>
			</div>	
		<% end %>
		<br>
		<div id="problems_in_assignment" style="font-size: 14pt;">
			<p><b>List of problems:</b>
					<% if @problems.length == 0 %>
						<br><br>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;No problems added yet!</p>
					<% else %>
					<ul class="list-group">
						<% @problems.each do |ap| %> 
							<li class="list-group-item">
								<%= link_to ap.title, { :controller => 'assignment_problems', 
								:action => 'show', :id => ap.id }, :method => :get, class: ""%>
								<% if @can_edit %>
									<%= link_to "View Submissions", { :controller => 'solutions',
										:action => 'view_submissions', :problem_id => ap.id },
										 :style => 'float: right;' %>
								<% end %>
							</li>
						<% end %>
					</ul>
					<% end %>
			</p>
		</div>		
		<br><br>
		<%= link_to "Back To Course", { :controller => 'courses',
				:action => 'show', id: @course.id}, class: "btn btn-info" %>
		<% if @can_edit %>
			<%= link_to "Edit assignment", { :controller => 'assignments',
				:action => 'edit', :id => @assignment.id }, class: "btn btn-info" %>
			<%= link_to "View students' grades", {:controller => 'grades',
				:action => 'view_grades', :assignment_id => @assignment.id},
				:method => :get, class: 'btn btn-info' %>
			<%= link_to "Delete Assignment", {:controller => 'assignments',
				:action => 'destroy', :id => @assignment.id}, class: "btn btn-danger",
				method: :delete, :confirm => "Are you sure you want to delete this Assignment ?" %>
		<% end %>	
	</div>
</div>
