<div class= "left-box" >
	<div class="xob">
		<div class = "c_info panel-body" >
			<div class= "row c_title">
				<div class="c_code"><%= @course.code %></div>
				<div class="c_name"><%= link_to @course.name, @course, style: "color: black" %></div>
			</div>
			<div class="row">
				<div class="course_sem">
					Semester <%= @course.semester %>
					Class <%= @course.year %>
				</div>
			</div>
		</div>
		<div class = "course_info panel-body" >
			<div class= "row course_title">
				<div class="course_code"><%= Assignment %> | </div>
				<div class="course_name"><%= @assignment.title %></div>
			</div>
			<div class="row">
				<div class="course_sem">
					due date: <%= @assignment.due_date.day %>, 
					<%= @assignment.due_date.month %>. 
					<%= @assignment.due_date.year %>
				</div>
			</div>
		</div>
		<div class="row course_description assignment-description" >
			<% if @assignment.description != nil %>
				<%= @assignment.description %>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			<% end %>
		</div>
		<div id="problems_in_assignment" style="font-size: 14pt;">
			<p><b>List of problems:</b>
					<% if @problems.length == 0 %>
						<br><br>
						<p>&nbsp;&nbsp;&nbsp;&nbsp;No problems added yet!</p>
					<% else %>
					<ul class="list-group">
						<% @problems.each do |ap| %> 
							<li class="list-group-item">
								<%= link_to ap.title, { :controller => 'assignment_problems', 
								:action => 'show', :id => ap.id }, :method => :get, class: ""%>
							</li>
						<% end %>
					</ul>
					<% end %>
			</p>
		</div>

		<% if @can_edit %>
			<%= link_to "Edit assignment", { :controller => 'assignments',
				:action => 'edit', :id => @assignment.id }, class: "btn btn-info" %>
		<% end %>
	</div>
</div>