<!-- 	Name: The New Topic Form 
Author: Ahmed Akram
-->
<div>
	<br/>
	<% if flash[:failure_notice] %>
		<div class="alert alert-danger", style="display: inline-block;"><%= flash[:failure_notice] %></div>
	<% end %>
	<% if flash[:success_notice] %>
		<div class="alert alert-success", style="display: inline-block;"><%= flash[:success_notice] %></div>
	<% end %>
	<br/>

	<%= form_for :acknowledgement, url: {action: "create"} do  |f| %>
		<p>
			<%=select_tag 'students[]', options_for_select(
				@course.students.map {|p| [p.name, p.id]}), :multiple => true, style: "width:300px" %>
		</p>

		<p>
			<%= f.label :Message %><br>
			<%= f.text_area :description, class:"form-control", style:"width:300px", :value => 'Good Job!' %>
		</p>

		<p>
			<%= button_tag "Send Acknowledgement",locals:{controller:"Acknowledgements", action:"new" }, class: "btn btn-success" %>
		</p>	
	<% end %>
</div>
