<% if @my_contests != nil %>
	<h1> Your Contests </h1>
	<table class="table table-striped table-bordered table-responsive">
		<tr>
			<td>Contest title</td>
			<td>Start time</td>
			<td>Duration</td>
		</tr>
		<% if @my_contests.size !=0 %>
		<% @my_contests.each do |contest| %>
			<tr>
				<td>
					<h4><%= link_to contest.title, :controller => 'contests', :action=> 'show',
							:id => contest.id,:method => :get, class:
								"btn btn-success" %></h4>
				</td>
				<td>
					<h4><%= contest.start_time %></h4>
				</td>
				<td>
					<h4><%=((contest.end_time - contest.start_time)/(60*60)).to_i %> hours</h4>
				</td>
			</tr>
		<% end %>
		<% end %>
	</table>	
<% end %>	
<h1> Contests </h1>
<table class="table table-striped table-bordered table-responsive">
	<% if @contests.size != 0 %>
		<tr>
			<td>Contest title</td>
			<td>Start time</td>
			<td>Duration</td>
			<td>Actions</td>
		</tr>
		<% @contests.each do |contest| %>
			<tr>
				<td>
					<h4><%= link_to contest.title, :controller => 'contests', :action=> 'show',
							:id => contest.id,:method => :get, class:
								"btn btn-success" %></h4>
				</td>
				<td>
					<h4><%= contest.start_time %></h4>
				</td>
				<td>
					<h4><%= ((contest.end_time - contest.start_time)/(60*60)).to_i %> hours</h4>
				</td>
				<% if current_lecturer || current_teaching_assistant %>
					<td>
						<h4><%= link_to "Edit", "/edit/"+contest.id.to_s %></h4>
					</td>
				<% elsif contest.end_time < DateTime.now %>
					<td>
						<h4> Contest is Finished </h4>
					</td>
				<% else %>	
					<td>
						<h4><%= link_to "Register", :controller => 'contests',
							:action=> 'index',:id => contest.id,:method => :get,
								class: "btn btn-success" %></h4>
					</td>
				<% end %>					
			</tr>
		<% end %>
	<% else %>
		You have no contests
	<% end %>	
</table>