<div>
		<h1>Create New Contest</h1>
		<%= form_for :contest, url: contests_path do |f| %>
			<p>
				<%= f.label :Title %><br>
				<% unless @new_contest.errors[:title].blank? %>
					<span id="error_explanation">
						Title <%= @new_contest.errors[:title].join(", ") %> 
					</span>
					<br>
				<% end %>
				<%= f.text_field :title, :value => @new_contest.title, class:"form-control", style: "width:300px", placeholder:"Title" %>
			</p>
			<!--handle start date and expiration date with select_tag-->
			<p>
			<%= f.label :Start_Date %><br />
			<%= f.date_select :start_date, {:start_year => Date.today.year+1, :end_year => Date.today.year, :order => [:day, :month, :year], :value => Time.now} %>
			</p>
			<p>
			<%= f.label :Start_Time %><br />
			<%= f.time_select :start_time, {:value => Time.now} %>
			</p>
			<p>
				<%= f.label :Course %><br>
				<% unless @new_contest.errors[:course].blank? %>
					<span id="error_explanation">
						Course <%= @new_contest.errors[:course].join(", ") %> 
					</span>
					<br>
				<% end %>
				<%= f.collection_select :course, @owner_courses, :to_s, :to_s, :include_blank => true %>
			</p>
			<p>
				<%= f.label :Description %><br>
				<% unless @new_contest.errors[:description].blank? %>
					<span id="error_explanation">
						Description <%= @new_contest.errors[:description].join(", ") %> 
					</span>
					<br>
				<% end %>
				<%= f.text_area :description, class:"form-control", style:"width:300px", 
					placeholder:"Description", :value => @new_contest.description %>
			</p>
			<p>
				<%= f.submit "Save", class: "btn btn-info" %>
			</p>
		<% end %>
		</div>