<%= @contest.title  %>
<br>
<%= @contest.description  %>
Standings
<br>
Submissions

<br>
registrants :
<br>
<br>
standings :
<br>
<table class="table table-bordered mytable">
	<tr>
		<td> </td>
		<% @contest.problems.each do |problem| %>
		<td> <%= problem.title %> </td>
		<% end %>
	</tr>
	<% @contest.get_contest_standings.each do |key, value| %>
	<tr>
		<td>
			<%= link_to value.student.name, 
				controller: "/students", 
				action: "show", 
				id: value.student.id %>
		</td>
		</td>
		<% @contest.problems.each do |problem| %>
			<td
				<% if ContestProgress.where(contest_id: @contest.id , cproblem_id: problem.id, student_id: value.student.id).take.status %>
						class="S"> <%= Time.now %>
				<% else %>
						class="WA">
				<% end %>
			</td>
		<% end %>
	</tr>
<% end %>
</table>
