
<h1 style= "margin-right:auto; margin-left: auto"> <%= @problem.title %></h1>

<p> <%= @problem.description %></p>

<%= @var %>

<%= render partial: "solutions/editor"%>
<%= button_tag 'Submit', type: 'Button',id: 'submitButton', 
				onClick: "validate_contest_code(#{params[:id]})", class: "btn btn-info pull-right" %>


<br/> <br/>

<%= @var %>

<%= render partial: "solutions/input_output" %>



