<!-- Author : Mohab Ghanim -->
<div class="contest_information">
	<h2> Contest: <%= @contest.title  %></h2>
	<h3><%= @contest.description %></h3>
	<h4><% if Time.now < @contest.end_time %>
			<% if Time.now < @contest.start_time %>
				Not started yet
			<% else %>
			on going 
			<%end%>
		<% else %>
			expired
			<p> Any new progress will not be saved </p>
		<% end %>
	</h4>
	<h5><% if Time.now < @contest.start_time %>
		Starts at 
		<% else %>
		Started at
		<%end%>
		<%= @contest.start_time %>
	<h5>
	<h5>Ends at <%= @contest.end_time %></h5>
	<ul>
		<li><a href ="/contests/<%= @contest.id %>/standings">Standings</a></li>
		<li><a href ="/contests/<%= @contest.id %>/registrants">Registrants</a></li>
		<li><a href ="/contests/<%= @contest.id %>/register">register</a></li>
	</ul>
</div>
<table class="table table-bordered contest_table">
	<% rank = 0 %>
	<tr>
		<td> Rank </td>
		<td> Contestant </td>
		<% @contest.problems.each do |problem| %>
		<td> <a href ="/cproblems/<%= problem.id %>"><%= problem.title %></a></td>
		<% end %>
	</tr>
	<% @contest.get_contest_standings.each do |key, value| %>
	<tr>
		<td>
			<%= rank = rank +1 %>
		</td>
		<td>
			<%= link_to value[:record].student.name, 
				controller: "/students", 
				action: "show", 
				id: value[:record].student.id %>
		</td>
		</td>
		<% @contest.problems.each do |problem| %>
			<td
				<% if ContestProgress.where(contest_id: @contest.id , cproblem_id: problem.id, student_id: value[:record].student.id).take.status %>
						class="S"> <%= ContestProgress.where(contest_id: @contest.id , cproblem_id: problem.id, student_id: value[:record].student.id).take.trials %> / 
						<%=  ((ContestProgress.where(contest_id: @contest.id , cproblem_id: problem.id, student_id: value[:record].student.id).take.updated_at - Contest.find(@contest.id).start_time)/60).to_i %>
				<% else %>
						class="wrong-answer"> --
				<% end %>
			</td>
		<% end %>
	</tr>
<% end %>
</table>
