<% if (lecturer_signed_in? || teaching_assistant_signed_in?) %>
	<% if @tip.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@tip.errors.count, "error") %>
				prohibited the Tip from being saved:
			</h2> 
		</div>
		<ul>
			<% @tip.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	<% end %>
	<%= form_for :tip_edit , :html => { :method => :post } , url: edit_tip_path do |t| %>
		<p>
			<%= t.label :Content %><br>
			<%= t.text_area :message ,:cols => "40", :rows => "5",:value => @tip.message %>
		</p>
		<p>
			<%= t.label :Time_in_seconds %><br>
			<%= t.text_field :time, style:"width:55px; height:35px;", :value => @tip.time %>
		</p>	
		<%= t.submit "Save changes", class: "btn btn-large btn-primary" , style: "float:left" %>
		<%= link_to "Cancel", {:controller => 'model_answers', action: 'edit',
			:id => @tip.model_answer_id},class: "btn btn-success",
				style: "text-decoration:none; float:right" %>	
	<% end %>
<% end %>