<% if lecturer_signed_in? || teaching_assistant_signed_in? %>
	<% if @tip.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@tip.errors.count, "error") %>
				prohibited the Tip from being saved:
			</h2> 
		</div>
		<ul>
			<% @tip.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	<% end %>
	<div id = "div_tip">
		<%= form_for :tip_edit, url: tip_path(@tip), method: :patch, remote: true do |tip_edit| %>
			<p>
				<h3><%= tip_edit.label :Content %></h3>
				<h4 align ="left"><%= @tip.message %></h4>
				<%= tip_edit.text_area :message, class:"form-control", style:"width:650px; height:250px;", :value => @tip.message %>
			</p>
			<p>
				<h3><%= tip_edit.label :Time_in_seconds %></h3>
				<h4 align ="left"><%= @tip.time %></h4>
				<%= tip_edit.text_field :time, class:"form-control", style:"width:65px; height:40px;", :value => @tip.time %>
			</p>
			<%= tip_edit.submit "Save changes", class: "btn btn-large btn-info", style: "float:left" %>
		<% end %>
	</div>
<% end %>