<body onLoad = "setTimeout('delayedRedirect()', 6000)">
	<h1>
		Tip content:
	</h1>
	<h3>
		"<%= @tip.message %>"
	</h3>
	<p>
	<h1>
		Time:
	</h1>
	<h3>
		<%= @tip.time %> seconds
	</h3>
	</p><br>
	<p>
		You will be redirected to the model answer page shortly...
	</p>
	<p>
		<%= link_to "Edit Tip", edit_tip_path(@tip),class: "btn btn-primary btn-xs", style: "float:left"%><br>
		<br><%= link_to "Delete Tip", {:controller => 'tips', :action => "destroy",
				:id => @tip.id,:answer_id => @tip.model_answer_id},
				data: {confirm: "Are you sure you want to delete this Tip?"},
				class: "btn btn-danger btn-xs", style: "float:left" , method: :delete %>
	</p>
</body>
<script type="text/javascript">
	function delayedRedirect(){
		var _id = <%= @tip.model_answer_id %>
		window.location = "/model_answers/"+_id+"/edit"
	}
</script>