<%- if lecturer_signed_in? %>
	<li>
		<%= link_to "Add Resources", new_course_resource_path(@course),
			class: "btn btn-success",
			style: "float: left; margin-left: 15px", method: :get %>
	</li>
<% end %>
<% unless flash[:notice].nil? %>
	<div class= "alert alert-danger">
		<%= flash[:notice] %>
		<%- flash[:notice] = nil %>
	</div>
<% end %>
<div>
	<div class="page-header">
		<h1><%= link_to @course.name, {controller: 'courses', action: 'show', id: @course.id} %> <small> resources :</small></h1>
	</div>
	<%- unless @course.resources.empty? %>
		<%- @course.resources.each do |resource| %>
			<div class="media">
				<a class="pull-left" href="<%= resource.link %>">
					<img class="media-object" src="<%= resource.img %>"\
						height="64" width="64" alt="...">
				</a>
				<div class="media-body">
					<h4 class="media-heading">
						<a href="<%= resource.link %>"><%= resource.link %></a>
					</h4>
					<%= resource.description %>
				</div>
			</div>
		<% end%>
	<% else %>
		<div class="panel panel-default">
			<div class="panel-body" align="center">
				<h3>No Resources</h3>
			</div>
		</div>
	<% end %>
</div>