<% if lecturer_signed_in? || teaching_assistant_signed_in? %>
	<% if @hint.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@hint.errors.count, "error") %>
				prohibited the hint from being saved:
			</h2>
		</div>
		<ul>
			<% @hint.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	<% end %>
	<div id = "div_hint">
		<%= form_for :hint_edit, url: hint_path(@hint), method: :patch,
			remote: true do |hint_edit| %>
			<p>
				<h3><%= hint_edit.label :Content %></h3>
				<h4 align ="left"><%= @hint.message %></h4>
				<%= hint_edit.text_area :message, class:"form-control",
					style: "width:650px; height:250px;", :value => @hint.message %>
			</p>
			<p>
				<h3><%= hint_edit.label :Submission_Counter %></h3>
				<h4 align ="left"><%= @hint.submission_counter %></h4>
				<%= hint_edit.text_field :submission_counter, class:"form-control",
					style: "width:65px; height:40px;", :value => @hint.submission_counter %>
			</p>
			<%= hint_edit.submit "Save changes", class: "btn btn-large btn-info",
				style: "float: left" %>
		<% end %>
	</div>
<% end %>