<div class="left-row">
	<div class="container" style='width:100%;'>
		<div id = "crumbs">
			<ul>
				<li class="sub"><a class="preventclick">Problem</a></li>
				<li class = "sub1"><a class="preventclick" style="padding: 5px 15% 0 0px;">Test Cases</a> </li>
				<li class="sub2"><%= link_to "Model Answers", {:controller => 'model_answers', :action => 'edit',
					:problem_id => params[:problem_id],:track_id => params[:track_id], 
					:model_answer_id => params[:model_answer_id]},{:method => :get, :style=>'padding: 5px 3.75% 0 0px;',
					:class => "css_class"} %></li>
				<li class="sub3"><%= link_to "Tips", {:controller => 'tips', :action => 'index',:model_answer_id => session[:model_answer_id],
					:track_id => params[:track_id], :problem_id => session[:problem_id]}, :method => :get %>
				</li>
				<li class = "sub4"><a class="visit" >Hints</a></li> 
			</ul>
		</div>
		<br><br>
		<div id="div1">
			<% if flash[:notice] %>
				<div class= "alert alert-success"><%= flash[:notice] %></div>
			<% end %>
		</div>
		<br><ul class = "navbar-brand pull-right"><%= link_to "Create Hint",
			{ :controller => 'hints', :action => 'new', :model_answer_id => params[:model_answer_id] ,:flag => 1, :problem_id => session[:problem_id], :track_id => session[:track_id], :flag => 1 },
			{ class: 'btn btn-info' } %></ul><br><br>
		<a href="#" return:false; class="Lst" onclick="toggle_visibility('foo3'); return false;"
			style="font:120px"> Previous Hints</a>
		<div id="foo3">
			<% if !@hints.any? %>
				<p>No previous Hints</p>
			<% end %>
			<% if !@hints.empty? %>
				<table class="table table-striped" style = "width:60%">
					<thead>
						<tr>
							<th style = "width:30%">Hints</th>
							<th style = "width:10%">Time of showing in seconds</th>
							<th style = "width:20%">Edit</th>
						</tr>
					</thead>
					<tbody>
						<% @hints.each do |hint1| %>
							<tr>
								<% if hint1.category == false %>
									<td style = "max-width: 300px; word-wrap:break-word;">
										<%= hint1.message %></td>
									<td style ="width:20%"><%= hint1.submission_counter %></td>
									<td>
										<%= link_to "Edit", {:action => 'edit',
											:controller => 'hints',:hint_id => hint1.id,
											:problem_id => params[:problem_id],
											:model_answer_id => params[:model_answer_id],
											:track_id => params[:track_id] },
											{class: 'btn btn-primary btn-xs', style: "text-decoration: none;"} %>
									</td>
									<td>
										<%= link_to "Delete Hint", { :controller => 'hints',
											:action => "destroy",:id => hint1.id,
											:problem_id => params[:problem_id],
											:model_answer_id => params[:model_answer_id],
											:track_id => session[:track_id] },
											data: { confirm: "Are you sure you want to delete this Hint?"},
											class: "btn btn-danger btn-xs", style: "float:left; text-decoration: none;",
											method: :delete %>
									</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			<% end %>
		</div>
		<div><ul class = "navbar-brand pull-right">
				<%= link_to "Back", {:controller => 'model_answers', :action => 'index',
							:track_id => session[:track_id], :problem_id => session[:problem_id], :model_answer_id =>session[:model_answer_id]},:method => :get,:class => "btn btn-info"%></ul>
		</div>
	</div>
</div>