<% if flash[:notice] -%>
		<div class="alert alert-warning", style="width:180px;display:inline">
		<%= flash[:notice] %>
		</div>
<% end %>	
<br/>
<br/>
<br/>	
<!-- Rendering the form fields -->
<%= form_for :hint,url:{:controller => "hints",action:"edit"} do  |f| %> 
		<%= f.hidden_field :id , value: params[:id] %>
		<p>
			<%= f.label "Hint description" %><br>
			<%= f.text_area :message, :cols => "100" , :rows => "8",autofocus:true,class:"form-control",style:"width:300px",value:Hint.find_by_id(params[:id]).message %>
		</p>
		<p>
			<%= f.label :"The number of wrong submissions that hint appears after"  %><br>
			<%= f.text_area :submission_counter, :rows => "1", class:"form-control", style: "width:300px",value:Hint.find_by_id(params[:id]).submission_counter %>
		<p>
			<%= f.submit"Save",class:"btn btn-success"%>
		</p>
<% end %>