<% if current_teaching_assistant.profile_image? %>
	<%= image_tag(current_teaching_assistant.profile_image_url.to_s, :class => "profile_picture_2") %>
<% else %>
	<img class = "profile_picture" src="/assets/profile.png">
<% end %>
<%= render 'layouts/profile' %> 
		<li class = "active"><a href = "#tab1">Info</a></li>
	</ul>
	<div class = "tab-content">
		<div id = "tab1" class = "tab active">
			<p><b>Name: </b><%= current_teaching_assistant.name %></p>
			<p><b>Email: </b><%= current_teaching_assistant.email %></p>
			<p><b>Degree: </b><%= current_teaching_assistant.degree %></p>
			<p><b>Graduated from: </b><%= current_teaching_assistant.graduated_from %></p>
			<p><b>Graduated year: </b><%= current_teaching_assistant.graduated_year %></p>
			<p><b>Department: </b><%= current_teaching_assistant.department %></p>
			<p><b>University: </b><%= current_teaching_assistant.university %></p>
			<p><b>Joined on: </b><%= current_teaching_assistant.created_at.to_date %></p>
		</div>
	</div>
</div>
