<%= render 'layouts/profile' %> 
		<li class = "active"><a href = "#tab1">Info</a></li>
	</ul>
	<div class = "tab-content">
		<div id = "tab1" class = "tab active">
			<p><b>Name: </b><%= current_teaching_assistant.name %></p>
			<p><b>Email: </b><%= current_teaching_assistant.email %></p>
			<p><b>Degree: </b><%= current_teaching_assistant.degree %></p>
			<p><b>Department: </b><%= current_teaching_assistant.department %></p>
			<p><b>University: </b><%= current_teaching_assistant.university %></p>
			<p><b>Joined on: </b><%= current_teaching_assistant.created_at.to_date %></p>
		</div>
	</div>
</div>
