<div class="left-row">
	<div class= "profile_info_row">
		<%= image_tag(current_teaching_assistant.profile_image_url.to_s, :class => "profile_picture") %>
		<div class = "profile_info">
			<p class="name"><%= current_teaching_assistant.name %></p>
			<div class="info">
				<p><%= current_teaching_assistant.email %></p>
				<p><b>Degree: </b><%= current_teaching_assistant.degree %></p>
				<p><b>Department: </b><%= current_teaching_assistant.department %></p>
				<p><b>University: </b><%= current_teaching_assistant.university %></p>
				<p><b>Joined on: </b><%= current_teaching_assistant.created_at.to_date %></p>
			</div>
		</div>
	</div>
</div>