<div class ="tabs">
	<ul class="tab-links">
		<li><a href="/courses/">My Courses</a></li>
		<li><a href="/courses/new">Create new Course</a></li>
	</ul>
	<div class="tab-content">
<!--	Name: Course Edit Page
		Author: Ahmed Akram
-->
		<ul class="tab-links">
			<!-- This button activates the new topic action and passes the course id  -->
			<li>
				<%= link_to "Edit Info", {:controller => 'courses', :action => 'edit',
					:id => @course.id}, class: "btn btn-success", 
						style: "float: left;margin-left: 15px",method: :get	 %> 
			</li> 

			<li>
				<%= link_to "Add Topics", {:controller => 'topics', :action => 'new',
					:course_id => @course.id}, class: "btn btn-success", 
						style: "float: left;margin-left: 15px",method: :post %> 
			</li> 

			<!-- This button activates the add TA action -->
			<li>
				<%= link_to "Add a TA", {:controller => 'teaching_assistants', :action => 'new',
					:course_id => @course.id}, class: "btn btn-success",
						 style: "float: left; margin-left: 15px", :method => :get %>
			</li>

			<!-- This button activates the acknowledge a student action -->
			<li>
				<%= link_to "Acknowledge a student", {:controller => 'acknowledgements', :action => 'new',
					:course_id => @course.id}, class: "btn btn-success",
						 style: "float: left; margin-left: 15px", method: :get
							%> 
			</li>

			<li>
				<%= link_to "Add Resources", new_course_resource_path(@course),
					class: "btn btn-success",
					style: "float: left; margin-left: 15px", method: :get %>
			</li>
		</ul>
		<!-- 	Name: The New Topic Form 
		Author: Ahmed Akram
		-->
		<div>
			<h1>Add a Teaching Assistant</h1>

				<br/>
				<% if flash[:failure_notice] %>
					<div class="alert alert-danger", style="display: inline-block;"><%= flash[:failure_notice] %></div>
				<% end %>
				<% if flash[:success_notice] %>
					<div class="alert alert-success", style="display: inline-block;"><%= flash[:success_notice] %></div>
				<% end %>
				<br/>

				<%= form_for :teaching_assistant, url: {action: "create"} do  |f| %>
					<% if @checkbox == true %>
						<p>
							<%= select("teaching_assistant", "id", TeachingAssistant.find(:all).collect{|p| [p.name ,p.id ] }, {:prompt => 'Select'}) %>
						</p>
					<% else %>
						<p>
							<%= select("teaching_assistant", "id", current_lecturer.worked_with.find(:all).collect{|p| [p.name ,p.id ] }, {:prompt => 'Select'}) %>
						</p>
					<% end %>
					<p>
						<%= f.submit "Add TA", class: "btn btn-success"%>
					</p>	
				<% end %>

				<div>
					<% if @checkbox == true %>
						<% str = "Show only TAs I worked with" %>
					<% else %>
						<% str = "Show All TAs" , @checkbox = nil%>
					<% end %>
					<div> <%= button_to str, {:controller => 'teaching_assistants', :action => 'new', check: @checkbox}, class: "btn btn-success"%> 
					</div> 
				</div>

				<%= button_to "Back", {:controller => 'courses', :action =>'index'}, class: "btn btn-success", :method => :get %>
		</div>
	</div>
</div>