<!DOCTYPE html>
<script type="text/javascript">
	$(document).ready(function() {
		$('.tabs .tab-links a').on('click', function(e)  {
			var currentAttrValue = $(this).attr('href');
			// Show/Hide Tabs
			$('.tabs ' + currentAttrValue).siblings().slideUp(400);
			$('.tabs ' + currentAttrValue).delay(400).slideDown(400);
			//or use fade
			//$('.tabs ' + currentAttrValue).fadeIn(400).siblings().hide();
			// Change/remove current tab to active
			$(this).parent('li').addClass('active').siblings().removeClass('active');
			e.preventDefault();
		});
	});
</script>
<html>
	<head>
		<title>CoolSoft - Java tutor | <%= @lecturer.id%>'s Profile</title>
	<body>
		<h1> <%= image_tag(@lecturer.profile_image_url.to_s) if @lecturer.profile_image? %> <%= @lecturer.name%>'s Profile </h1>
		<div class="tabs">
			<ul class="tab-links">
				<li class="active"><a href="#tab1">Info</a></li>
				<li><a href="#tab2">Statistics</a></li>
				<li><a href="#tab3">Course</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab1" class="tab active">
					<p> <b>Name:</b> <%= @lecturer.name%> </p>
					<p> <b>Email:</b> <%= @lecturer.email%> </p>
				</div>
				<div id="tab2" class="tab">
					<p> @lecturer.getStat() "to be reviewed" </p>
		        </div>
				<div id="tab3" class="tab">
					<table class = "table table-striped", style = "width:80%">
						<tr>
							<th>Name</th>
							<th>Code</th>
							<th>Options</th>
							<th></th>
						</tr>
						<% @courses.each do |c| %>
							<tr>
								<td><%= link_to c.name, :controller => 'courses', :action => 'show', :id => c.id, 
											:method => :get, class: "btn btn-success" %></td>
								<td><%= c.code %></td>
								<% if current_lecturer %>
									<td>
									<%= link_to "Manage Course", {:controller => 'courses', :action => 'edit', :method => :get, :id => c.id}, class: "btn btn-success", style: "text-decoration:none" %>
									</td>
								<% end %>
								<td>
									<%= link_to "Discussion Board", {:controller => 'discussion_boards', :action => 'show', :id => c.id	}, class: "btn btn-success", method: :get, style: "text-decoration:none" %>
								</td>
							</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>