<div class= "tabs1" style = "width = 100%">
	<ul class= "tab-links white">
		<% if lecturer_signed_in? || teaching_assistant_signed_in? %>
			<li><%= link_to "Create problems",
				{:controller => 'assignment_problems',
				:action => 'new', :method => :get, :id => @assignment.id} %></li>
			<li class="active"><a href="#">Copy from Existing Problems</a></li>
		<% end %>
	</ul>
	<%= form_tag("/assignment_problems/complete/", :method => "post") do %>
		<div style= "float:left; width:47%;">
			<div class= "tab-content">
				<div id= "tab1" class= "tab active">
					<% openable = true %>
					<h3> Exercise problems </h3>
					<% if @problems.empty? %>
						<p> There are no problems </p>
					<% end %>
					<% if @problems.any? %>
						<% @problems.each do |problem| %>
							<% if openable %>
								<% open = "in" %>
								<% openarrow = "glyphicon-chevron-down" %>
								<% openable = false %>
							<% else %>
								<% open = "" %>
								<% openarrow = "glyphicon-chevron-right" %>
							<% end %>
							<div class="panel panel-default">
								<div class="panel-title list-group-item list-group-item-info">
									<a class="icon glyphicon <%= openarrow %>"
									href="#<%= problem.id.to_s %>"
									data-toggle="collapse" data-parent="#accordion"
									style="float:left;text-decoration: none;">
									</a>
										<%= check_box_tag "checkbox[]", problem.id %>
										<%= problem.title %>
								</div>
								<div id="<%= problem.id.to_s %>" 
									class="panel-collapse collapse <%= open %>">
									<%= problem.description %>
								</div>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
			<ul class="navbar-brand pull-right"><%= link_to "Finish",
				{:controller => 'assignments', :action => 'show',
				:id=> @assignment.id}, class: "btn btn-info", method: :get %></ul>
			<ul class="navbar-brand pull-right"><%= submit_tag("Save",
				:class=>"btn btn-info") %> </ul>
		</div>		
		<div style="float:right; width:50%;">
			<div class="tab-content">
				<h3> Bank of problems </h3>
					<% if @cproblems.empty? %>
						<p> There are no problems in the bank </p>
					<% end %>
					<% if @cproblems.any? %>
						<% @cproblems.each do |problem| %>
							<% if openable %>
								<% open = "in" %>
									<% openarrow = "glyphicon-chevron-down" %>
									<% openable = false %>
							<% else %>
								<% open = "" %>
								<% openarrow = "glyphicon-chevron-right" %>
							<% end %>
							<div class="panel panel-default">
								<div class="panel-title list-group-item list-group-item-info">
									<a class="icon glyphicon <%= openarrow %>"
									href="#<%= problem.id.to_s %>"
									data-toggle="collapse" data-parent="#accordion"
									style="float:left;text-decoration: none;">
									</a>
									<%= check_box_tag "checkbox[]", problem.id %>
									<%= problem.title %>
								</div>
								<div id="<%= problem.id.to_s %>" 
									class="panel-collapse collapse <%= open %>">
									<%= problem.description %>
								</div>
							</div>
						<% end %>
					<% end %>
			</div>
		</div>
	<% end %>
</div>