<div class="abc" >
<!-- 	<div class="margin-10"> -->
		<label><%= @course.name %></label>\
		<label><%= @assignment.title %></label>\
		<label><%= @problem.title %></label> 
		<br /><br />
		<div class='assignment problem'>
			<label><%= @problem.title %></label><br/>
			<label><%= @problem.description %></label><br />
			<table width='100%'>
				<tr>
					<td width='80%'>
						<br>
						<% if @can_edit %>
							<%= link_to "Edit problem", { :controller => 'assignment_problems',
								:action => 'edit', :id => @problem.id	}, class: "btn btn-info" %>
							<div id= "test" style="display:true;">
								<%= render partial: "solutions/new" %>
							</div >
						<% end %>
						<% if !@can_edit %> 
						 	<%= render partial: "solutions/new" %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
<!-- 	</div> -->
</div>