<h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:multipart => true}) do |f| %>
        <%= devise_error_messages! %>
        
        <div style="margin:10px">
            <%= f.email_field :email, autofocus: true, class: "form-control", style: "width:300px", placeholder: "Email"%>
        </div>

        <div style="margin:10px">
            <%= f.text_field :name, class: "form-control", style: "width:300px", placeholder: "Name"%>
        </div>

        <div style="margin:10px">
        	<%= f.password_field :password, autocomplete: "off", class:"form-control", style:"width:300px", placeholder:"Password"%>
    	</div>

    	<div style="margin:10px">
        	<%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", style:"width:300px",placeholder: "Confirm Password" %>
    	</div>

        <div style="margin:10px">
            <%= f.label :gender %>
            <%= f.select(:gender, [['Male', true], ['Female', false]]) %>
        </div>

        <div style="margin:10px">
            <%= f.label :date_of_birth %>
            <%= f.date_select :dob, {:start_year => Date.today.year-90, :end_year => Date.today.year} %>
        </div>

        <div style="margin:10px">
            <%= f.text_field :degree, class: "form-control", style: "width:300px", placeholder: "Degree"%>
        </div>

        <div style="margin:10px">
            <%= f.text_field :department, class: "form-control", style: "width:300px", placeholder: "Department"%>
        </div>

        <div style="margin:10px">
            <br />
            <%= f.label :profile_image %><br />
            <%= image_tag(@lecturer.profile_image_url.to_s) if @lecturer.profile_image? %>
            <%= f.file_field :profile_image, {:accept => 'image/png,image/gif,image/jpeg'} %>
            <%= f.hidden_field :profile_image_cache %>
            <br />
        </div>

        <div><%= f.submit "Sign up", class: "btn btn-success", style: "margin-top:10px" %></div>
    <% end %>

<%= render "lecturers/shared/links" %>
