<div align="center">
	<h2>Change your password</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), 
		html: { method: :put, :class => 'form-devise' }) do |f| %>
		<%= devise_error_messages! %>
		<%= f.hidden_field :reset_password_token %>

		<div>
			<%= f.password_field :password, autofocus: true, autocomplete: "off", 
				class:"form-control", placeholder:"Password" %>
		</div>

		<div>
			<%= f.password_field :password_confirmation, autocomplete: "off", 
				class:"form-control",placeholder: "Confirm Password" %>
		</div>

		<div><%= f.submit "Change my password", class: "btn btn-success button-devise" %></div>
	<% end %>

	<%= render "students/shared/links" %>
</div>