<%= render 'layouts/profile' %> 
	<ul>
		<li class = "active"><a href = "#tab1">Info</a></li>
		<li><a href = "#tab2">Performance</a></li>
		<li><a href = "#tab3">Statistics</a></li>
	</ul>
	<div class = "tab-content">
		<div id = "tab1" class = "tab active">
			<p><b>Name: </b><%= current_student.name %></p>
			<p><b>Email: </b><%= current_student.email %></p>
			<p><b>University: </b><%= current_student.university %></p>
			<p><b>Faculty: </b><%= current_student.faculty %></p>
			<p><b>Major: </b><%= current_student.major %></p>
			<p><b>Joined on: </b><%= current_student.created_at.to_date %></p>
		</div>
		<div id = "tab2" class = "tab">
			<div class="tabbable tabs-left">
        		<ul class="nav nav-tabs">
          			<li class="active"><a href="#a" data-toggle="tab">Course</a></li>
          			<li><a href="#b" data-toggle="tab">Contest</a></li>
       		 	</ul>
        		<div class="tab-content">
        			<div class="tab-pane active" id="a">
        				<div>
						<h2 align="center">Continue from where you left off</h2><br>
							<% next_problems_to_solve = current_student.get_next_problems_to_solve %>
							<% next_problems_to_solve.each do |key , value| %> 
								<%= link_to value.title, 
											controller: "/problems", 
											action: "show", 
											id: value.id %>
											<%= key %>
							<% end %>
						</div><br>
						<h2 align="center">Your Progress</h2>
						<div style="margin-left: 100px">
						
						<% res = current_student.getProblemsStatus %>
						<% res[:success].each do |problem| %>
							<%= link_to problem.title, 
											controller: "/problems", 
											action: "show", 
											id: problem.id %>
											<br><br>
							<div class="line-separator"></div>
							<br>
							<% end %>
						</div>
         			</div>
			        <div class="tab-pane" id="b">
			        <h2 align="center">Your Progress</h2>
			        	<p>under construction</p>
			        </div>
			        
        		</div>
      		</div>
		</div>
		<div id = "tab3" class = "tab">
			Statistics under construction
		</div>
	</div>	
</div>
