<div class= "row profile_info_row">
	<img class = "profile_picture" src="/assets/profile.png">
	<div class = "profile_info">
		<p class="name"><%= @student.name %></p>
		<div class="info">
		<p><%= @student.email %></p>
		<p><b>University: </b><%= @student.university %></p>
		<p><b>Faculty: </b><%= @student.faculty %></p>
		<p><b>Major: </b><%= @student.major %></p>
		<p><b>Joined on: </b><%= @student.created_at.to_date %></p>
		</div>
	</div>
</div>
<div class = "row tabs">
	<ul class = "tab-links"> 
		<li class="active"><a href="#tab1">Courses</a></li>
		<li><a href = "#tab2">Performance</a></li>
	</ul>
	<div class = "tab-content">
				<div id="tab1" class="tab active">
			<table class = "table table-striped", style = "width:80%">
				<tr>
					<th>Name</th>
					<th>Code</th>
					<th>Options</th>
					<th></th>
				</tr>
				<% @courses.each do |course| %>
					<tr>
						<td>
							<%= link_to course.name,
								:controller => 'courses',
								:action => 'show',
								:id => course.id,
								:method => :get,
								class: "btn btn-success" %>
						</td>
						<td><%= course.code %></td>
						<% if current_lecturer %>
							<td>
								<%= link_to "Manage Course",
									{
										:controller => 'courses',
										:action => 'edit',
										:method => :get,
										:id => course.id
									},
									class: "btn btn-success",
									style: "text-decoration:none" %>
							</td>
						<% end %>
						<td>
							<%= link_to "Discussion Board", 
								{
									:controller => 'discussion_boards',
									:action => 'show',
									:id => course.id
								},
								class: "btn btn-success",
								method: :get,
								style: "text-decoration:none" %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>
		<div id = "tab2" class = "tab">
			Performance under construction
		</div>
	</div>	
</div>