<div class="container main-manage-container">
	<div class="container course-manage-main">
		<h1> 
			<font> &raquo; Manage Course </font>
			<hr>
		</h1>
	</div>
	<div class="col-sm-3"> <!-- required for floating -->
		<!-- Nav tabs -->
		<ul class="nav nav-tabs side-tab-left">
			<li class="active"><a href="#Info" data-toggle="tab">Edit Info</a></li>
			<li><a href="#ack" data-toggle="tab">Acknowledge Student</a></li>
			<li><a href="#setting" id="ta_call" data-toggle="tab">More Settings</a></li>
			<li><a href="#Delete" data-toggle="tab">Delete Course</a></li>
		</ul>
	</div>
	<div class="col-sm-9">
		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="Info">
				<div class="container" style="width:100% !important;">
					<div class="row info-title" >
						<h1>
							<font>  &raquo; Edit Course Info </font>
							<div  id="course-edit-span">
								<span class="glyphicon glyphicon-edit" style="float:right; cursor:pointer" onclick="edit_course(<%=@course.id%>);"></span>
							</div>
						</h1>
						<hr>
					</div>
					<div class="row info-desc" style="margin-left:2%">
						<div class="row">
							<h3> <font>Name</font> </h3>
							<div id="course-name">
								<p> 
									<font> <%= @course.name %> </font> 
								</p>
							</div>
						</div>
						<div class="row">
	      					<h3> <font>Link</font> </h3>
							<div id="course-link">
								<p> 
									<font> <%= @course.link %> </font> 
								</p>
							</div>
	 					</div>
						<div class="row">
							<h3> <font>Description</font> </h3>
	      				<div id="course-description">
	      					<p> 
	      						<font> <%= @course.description %> </font> 
	      					</p>
	      				</div>
	      			</div>
	      			<div class="row">
	      				<div class="col-sm-4">
	      					<h3> <font>Code</font> </h3>
	      					<div id="course-code">
	      					<p>
	      						<font> <%= @course.code %> </font> 
	      					</p>
	      				</div>
	      				</div>
	      				<div class="col-sm-4">
	  						<h3> <font>Semester</font> </h3>
	  						<div id="course-semester">
	      					<p>
	      						<font> <%= @course.semester %> </font>
	      					</p>
	      				</div>
	      				</div>
	      				<div class="col-sm-4">
	  						<h3> <font>Year</font> </h3>
	  						<div id="course-year">
	      						<p>
	      							<font> <%= @course.year %> </font> 
	      						</p>
	      					</div>
	      				</div>
	      			</div>
	      			<div class="container well submit-course-container" id="course-submition">
	      			</div>
	      		</div>
	      	</div>
		</div>
			<div class="tab-pane" id="ack">
				<div class="container" style="width:100% !important;">
					<div class="row info-title" >
						<h1>
							<font>  &raquo; Acknowledge A student </font>
						</h1>
						<hr>
					</div>
					<%= render 'acknowledgements/new', :course_id=>@course.id %>
				</div>
			</div>
			<div class="tab-pane ta-main" id="setting">
				<div class="container" style="width:100% !important;">
					<div class="row info-title" >
						<h1>
							<font>  &raquo; More Settings ... </font>
						</h1>
						<hr>
					</div>
					<div class="well container more-links" >
						<div>
							<%= link_to "Add a Teaching Assistant", {:controller => 'teaching_assistants', :action => 'new',
								:course_id => @course.id}, class: "btn btn-success",
								style: "float: left; margin-left: 15px", :method => :get %>
						</div>
						<div>
							<%= link_to "Add Resources", new_course_resource_path(@course),
								class: "btn btn-success",
								style: "float: left; margin-left: 15px", method: :get %>
						</div>
					</div>
				</div>
			</div>
	      <div class="tab-pane" id="Delete">
	      	<div class="danger-alert row">
	      		<div class="col-sm-2 col-sm-offset-2">
	      			<span class="glyphicon glyphicon-warning-sign" style="font-size:5em; "></span>
	      		</div>
	      		<div class="col-sm-8 danger-title">
	      			<h1><font>Danger Zone</font> </h1>
	      		</div>
	      		<hr style="width:100%">
	      		<div class="danger-message"style="margin-left:2%; width:100%">
	      			<h3><font>By deleteing the Course, you will delete all the content that belong the his Course.</font></h3>
	      		</div>
	      	</div>
	      	
	      	<div class="row container well delete-course-bt" >
				<%= button_to "Delete Course", {:action => "destroy"},
				 class: "btn btn-danger", method: :delete %>
			</div>
	      </div>
	    </div>
	</div>
</div>