<!--	Name: Course Edit Page
		Author: Ahmed Akram
-->
<meta charset="utf-8">
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">

<script>
$(document).ready(function() {

	$("#list-of-topics").sortable({
	placeholder: "ui-state-highlight" , 
	axis: "y",
	tolerance: 'pointer',
	forcePlaceholderSize: true,
	cursor: "move",
	containment: "parent" 
	});

	$("#order_topics_dialog").dialog({
		autoOpen: false,
		modal: true,
		width: 'auto',
		height: 'auto',
		autoResize:false,
		buttons: {
			Done: function(){
				var array = $("#list-of-topics").sortable('toArray') ;
				$.ajax({
					url: '/courses/sort',
					type: 'POST',
					beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
					data: { 'methodParam' : array },
					success: function (data) {
						alert("success");
						location.reload();
					},
					error: function (args) {
						alert("Error on ajax post");
					}
				}); 
				$(this).dialog("close");  
			} ,
			Cancel: function(){
				$(this).dialog("close");
			} 
		}
	});

	$("#opener").click(function() {
		$("#order_topics_dialog").dialog("open");
		$("#order_topics_dialog").css('overflow', 'hidden');
	}).disableSelection();
});
</script>

<div>
	<!-- This button shows all topics of the course -->
	<div>
		<%= button_to "Topics", {:controller => 'topics', :action => 'index',
			:course_id => @course.id}, class: "btn btn-success" , style: "float: left;",method: :get %> 
	</div>

	<!-- This button activates the new topic action and passes the course id  -->
	<div>
		<%= button_to "Add Topics", {:controller => 'topics', :action => 'new',
			:course_id => @course.id}, class: "btn btn-success" , style: "float: left;margin-left: 15px",method: :post %> 
	</div>

	<!-- This button activates the topics sorting -->
	<div>
		<button id="opener" , class="btn btn-success", style= "float: left;margin-left: 15px" >Order topics</button>
	</div>

	<!-- This button activates the add TA action -->
	<div><%= button_to "Add a TA", {:action => 'show'}, class: "btn btn-success" , style: "float: left; margin-left: 15px", :method => :get%> 
	</div>

	<!-- This if statement checks for the condition of the discussion board -->
	<div>
		<% if @discussionBoard.activated == true %>
			<%str = "Deactivate DiscussionBoard" %>
		<% else %>
			<%str = "Activate DiscussionBoard"%>
		<% end %>
		<!-- This button toggles the activation of the discussion board -->
		<%= button_to str, {:controller => :discussion_boards, :action => 'toggle', :id => @discussionBoard.id}, class: "btn btn-success", style: "float: left; margin-left: 15px" %>
	</div> 
</div>
<br/>

<!-- This button deletes the course -->
<div>
	<%= button_to "Delete Course", {:action => "destroy"}, class: "btn btn-danger" , style: "margin-top: 100px; float: right", method: :delete %> 
</div>

<%= button_to "Back", {:controller => 'courses', :action => 'index'}, class: "btn btn-success" , style: "margin-left: 600px; margin-top: 250px", :method => :get%>