<!--	Name: Course Edit Page
		Author: Ahmed Akram
-->

<div>
	<!-- This button shows all topics of the course -->
	<div>
		<%= button_to "Topics", {:controller => 'topics', :action => 'index',
			:course_id => @course.id}, class: "btn btn-success" , style: "float: left;",method: :get %> 
	</div>

	<!-- This button activates the new topic action and passes the course id  -->
	<div>
		<%= button_to "Add Topics", {:controller => 'topics', :action => 'new',
			:course_id => @course.id}, class: "btn btn-success" , style: "float: left;margin-left: 15px",method: :post %> 
	</div> 

	<!-- This button activates the add TA action -->
	<div><%= button_to "Add a TA", {:controller => 'teaching_assistants', :action => 'new',
		:course_id => @course.id}, class: "btn btn-success" , style: "float: left; margin-left: 15px", :method => :get%> 
	</div>

	<!--This button activates the acknowledge student action -->
	<div><%= button_to "Acknowledge a student", {:controller => 'teaching_assistants', :action => 'new',
		:course_id => @course.id}, class: "btn btn-success" , style: "float: left; margin-left: 15px", :method => :get%> 
	</div>
	<!-- This if statement checks for the condition of the discussion board -->
	<div>
		<% if @discussionBoard.activated == true %>
			<%str = "Deactivate DiscussionBoard" %>
		<% else %>
			<%str = "Activate DiscussionBoard"%>
		<% end %>
		<!-- This button toggles the activation of the discussion board -->
		<%= button_to str, {:controller => :discussion_boards, :action => 'toggle', :id => @discussionBoard.id}, class: "btn btn-success", style: "float: left; margin-left: 15px" %>
	</div> 
</div>
<br/>

<!-- This button deletes the course -->
<div>
	<%= button_to "Delete Course", {:action => "destroy"}, class: "btn btn-danger" , style: "margin-top: 100px; float: right", method: :delete %> 
</div>

<%= button_to "Back", {:controller => 'courses', :action => 'index'}, class: "btn btn-success" , style: "margin-left: 600px; margin-top: 250px", :method => :get%>