<h3>Choose a Course</h3>
<!-- <form>
Course name: <input type="text" name="coursename"><br>
Semester:    <input type="text" name="lastname">
<br><br>
<button type="button">Create</button>
</form> -->
<%= form_for :Course , url: {:action => "duplicate" , method: "post"} do |f|%>
<%= f.select :id , @courses.collect{|c| [c.name , c.id]} %>
<br><br>
<%= f.submit%>
<!-- <label>Course Name :</label><br>
<%= f.text_field :name%><br>
<label>Semester :</label><br>
<%= f.text_field :Semester%> -->
<%end%>