<% if !@courses.any? %>
	<h1>You have no courses</h1>
<% end %>
<% if current_lecturer %>
	<%= button_to "Create course", { :action => 'new', :controller => 'courses' }, {
		class: 'btn btn-primary'} %>
<% end %>
<br>
<%= flash[:success_deletion] %>
<%= flash[:success_creation] %>
<% if @courses.any? %>
	<h1>Your Courses</h1>
	<table class = "table table-striped", style = "width:80%">
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Options</th>
			<th></th>
			<th></th>
		</tr>
		<% @courses.each do |c| %>
			<tr>
				<td><%= link_to c.name, { :controller => 'courses', :action => 'show', :id => c.id }, 
							:method => :get, class: "btn btn-success" %></td>
				<td><%= c.code %></td>
				<td>
					<% if current_lecturer %>
						<%= link_to "Manage Course", { :controller => 'courses', :action => 'edit', :method => :get, :id => c.id }, class: "btn btn-success", style: "text-decoration:none" %>
					<% end %>
				</td>
				<td>
					<%= link_to "Discussion Board", { :controller => 'discussion_boards', :action => 'show', :id => c.id }, class: "btn btn-success", method: :get, style: "text-decoration:none" %>
				</td>
				<td>
					<% if current_student %>
						<% if @share[c.id] == "Show" %>
							<%= button_to "Show Performance", {:controller => 'courses', :action => 'share', :id => c.id, :value => true}, class: "btn btn-success", style: "text-decoration:none" %>
						<% else %>
							<%= button_to "Hide Performance", {:controller => 'courses', :action => 'share', :id => c.id, :value => false}, class: "btn btn-success", style: "text-decoration:none" %>
						<% end %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</table>
<% end %>
