<!--Author: Mohab Ghanim -->
<div>
	<br><br><br>
	<div class="row">
		<div class="container">
			<div class="col-md-8"><h2><b>&raquo; Courses</b></h2></div>
			<div class="col-md-4 pop_new">
				<%= link_to "Add Course", new_course_path %>
			</div>
			
		</div>
	</div>
	<div class="well">
		<% if @courses.any? %>
			<div class="row">
				<% @courses.each do |course| %>
					<div class="container col-sm-6">
						<div class="well" style="background-color: #d7dde2 !important;">
							<h3><b><%= link_to course.name, course %></b><hr></h3>
							<label><%= course.description %></label><br><br>
							<% if lecturer_signed_in? %>
								<% if current_lecturer.courses.find(course) %>
									<%= link_to "Manage ", edit_course_path(course)%><b>|</b>	
								<% end %>
							<% elsif student_signed_in? %>
								
							<% end %>
							<%= link_to " Disscussion Board", course.discussion_board%>
						</div>
					</div>
				<%end%>
			</div>
		<% end %>
	</div>
</div>
<style type="text/css">
	.pop_new {
		vertical-align: center;
		height: 50%;
	}
</style>

<script type="text/javascript">
function popUP(){
	$('sign_in_dialog').bPopup({
	    speed: 650,
	    transition: 'slideIn'
	});
})

</script>