<!--Author: Mohab Ghanim -->
<div class ="tabs">
	<ul class="tab-links">
		<li class="active"><a href="#">My Courses</a></li>
		<% if lecturer_signed_in? %>
			<li><a href="/courses/choose">Create new Course</a></li>
		<% elsif student_signed_in? %>
			<li><a href="/courses/sign_up">Sign up for a course</a></li>
		<% end %>
	</ul>
	<div class="tab-content">
		<div id="tab1" class="tab active">
			<% if !@courses.any? %>
				<h1>You have no courses</h1>
			<% end %>
			<br>
			<%= flash[:success_deletion] %>
			<%= flash[:success_creation] %>
			<% if @courses.any? %>
				<table class = "table table-striped", style = "width:80%">
					<tr>
						<th>Course Name</th>
						<th>Code</th>
					</tr>

					<% @courses.each do |c| %>
						<tr>	
							<td><%= link_to c.name, { :controller => 'courses', :action => 'show', :id => c.id }, :method => :get, class: "", style:"font-weight:bold; font-size:15px; color:#3498db; font-dicoration:none "%>
							</td>
							<td><%= c.code %></td>
							<td>
								<%= link_to "Discussion Board", { :controller => 'discussion_boards', :action => 'show', :id => c.id },
									class: "btn btn-info", method: :get, style: "text-decoration:none" %>
							</td>
							<td>
								<% if current_lecturer %>
									<%= link_to "Manage", { :controller => 'courses', :action => 'edit',
										:method => :get, :id => c.id }, class: "", style: "color:black" %>
								<% end %>
							</td>
							<td>
								<% if current_student %>
									<% if @share[c.id] == "Show" %>
										<%= button_to "Show Performance", {:controller => 'courses', :action => 'share',
											:id => c.id, :value => true}, class: "btn btn-success", style: "text-decoration:none" %>
									<% else %>
										<%= button_to "Hide Performance", {:controller => 'courses', :action => 'share',
											:id => c.id, :value => false}, class: "btn btn-success", style: "text-decoration:none" %>
									<% end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</table>
			<% end %>
		</div>
	</div>

</div>

</div>

