<div class= 'left-row'>
	<div class="row">
		<div class="container">
			<div class="col-md-8" 
				style="color:#808088; font-family:sans-serif; font-weight:lighter">
				<h2>&raquo; Courses</h2>
			</div>
		</div>
	</div>
	<div class="well">
		<% if @courses.any? %>
			<div class="row">
				<% @courses.each do |course| %>
					<div class="container col-sm-6">
						<div class="well course-box" style="background-color: #D7DDE2 !important;">
							<h3><%= link_to course.name, course %><hr></h3>
							<label class="c-description-label"><%= crop(course.description,200) %></label>
							<br><br>
							<% if lecturer_signed_in? %>
								<% if current_lecturer.courses.find(course) %>
									<%= link_to "Manage ", edit_course_path(course)%><b>|</b>	
								<% end %>
								<%= link_to " View Disscussion Board", course.discussion_board%>
							<% elsif student_signed_in? %>
								<div class="row">
									<div class="col-sm-4">
									<% if lecturer_signed_in? %>
									<% if current_lecturer.courses.find(course) %>
										<%= link_to "Manage ", edit_course_path(course)%>	
									<% end %>
									<% elsif student_signed_in? %>
										<% if @share[course.id] == "Show" %>
												<%= button_to "Show Performance", {:controller => 'courses', :action => 'share',
													:id => course.id, :value => true}, class: "switch_sharing show-p", style: "text-decoration:none" %>
											<% else %>
												<%= button_to "Hide Performance", {:controller => 'courses', :action => 'share',
													:id => course.id, :value => false}, class: "switch_sharing hide-p", style: "text-decoration:none;" %>
											<% end %>
									<% end %>
									</div>
									<div class="col-sm-8"><b>|</b><%= link_to " View Disscussion Board", course.discussion_board%></div>
								</div>
							<% end %>
						</div>
					</div>
				<%end%>
			</div>
		<% end %>
		<% if current_student %>
			<%= link_to "Sign up for a course" , {:controller => 'courses', :action => 'sign_up'},
			 class: 'course_sign_up' %>
		<% elsif current_lecturer %>
			<%= link_to "Add Course", new_course_path, class: 'course_sign_up' %>
		<% end %>
	</div>
</div>
