<%= flash[:success] %>
<%= flash[:success_creation] %>
<h1>Your Courses</h1>
 
<table border="3">
  <tr>
    <th>Name</th>
    <th>Code</th>
    <th>Year</th>
    <th>Semester</th>
    <th>Description</th>
    <th>Created at</th>
    <th>Updated at</th>
    
  </tr>
 
<% @courses.each do |c| %>
  <tr>
    <td><%= c.name %></td>
    <td><%= c.code %></td>
    <td><%= c.year %></td>
    <td><%= c.semester %></td>
    <td><%= c.description %></td>
    <td><%= c.created_at %></td>
    <td><%= c.updated_at %></td>
    <td><%= link_to "Manage Course", {:controller => 'courses', :action => 'edit', :id => c.id}, class: "btn btn-sucess"%></td>

  </tr>
  <% end %>
</table>
