<h1>Grades</h2>
<br>
<br>
<table class = "table table-striped", style = "width:60%">
	<tr>
		<th>Assignment</th>
		<th>Assignment grade</th>
	</tr>
	<% @assignments.each do |assi| %>
		<% if assi.publish %>
			<% @problems = assi.problems %>
			<% @problems.each do |p| %>
				<% @records.each do |r| %>
					<% if r.problem_id == p.id %>
						<% @student_grade = @student_grade + r.grade %>
						<% @flag =  true %>
					<% end %>
				<% end %>
				<% @total_grade = p.final_grade %>
			<% end %>
			<% if @flag %>
				<tr>
					<td><%= assi.title%></td>
					<td><%= @student_grade %>/<%= @total_grade %></td>
					<td><%= button_to "Check Grades", {:controller => 'courses', :action => 'show_grades', :id => @course.id, :value => true}, class: "btn btn-success", method: :get, style: "text-decoration:none" %>
					</td>
				</tr>
			<% else%>
				<tr>
					<td><%= assi.title%></td>
					<td><span class="badge">Not corrected yet</span></td>
				</tr>
			<% end %>
			<% @total_grade = 0 %>
			<% @student_grade = 0 %>
			<% @flag = false%>
		<% end %>
	<% end %>
</table>