<div class= "left-box" >
	<div class="xob">
		<div class = "course_info panel-body" >
			<div class= "row course_title">
				<div class="course_code"><%= @course.code %></div>
				<div class="course_name"><%= @course.name %></div>
				<% if current_lecturer %>
					<div class="course_manage">
							<%= link_to "Manage", { :controller => 'courses', :action => 'edit' } %>
					</div>
				<% end %>
			</div>
			<div class="row">
				<div class="course_sem">
					Semester <%= @course.semester %>
					Class <%= @course.year %>
				</div>
			</div>
		</div>
		<div class="row course_description">
			<p>About the Course</p>
			<% if @course.description %>
				<div class="description-body" >
					<%= @course.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</div>
			<% end %>
		</div>
		<div class="view_discussion">
			<%= link_to "View Discussion Board", { :controller => 'discussion_boards', :action => 'show', :id => params[:id] }, method: :get %>
		</div>
		<div class="view_discussion">
			<%= link_to "View Resources", course_resources_path(@course)%>
		</div>
		<div class="tag-area"> 
			<span class="view_discussion"> Tags : </span>	
			<% @course.tags.each do |tag| %>
				<span class="tag"><%= tag.name %></span>
			<% end %>	
		</div>
				
	</div>

	<div class="xox">
		<div class="well bell">
			<div class="box-title"> Topics
				<% if lecturer_signed_in? || teaching_assistant_signed_in? %>
					<%= link_to "Add Topic", {:controller => 'topics', :action => 'new',
						:course_id => @course.id}, class: "btn btn-default", method: :post %> 
				<% end %>
			</div>
			<% topics = @course.topics %>
			<% if topics.any? %>
				<% topics.each_slice(2) do |topic| %>
					<% if topic.count == 1 %>
						<div class="row">
							<div class="container col-sm-6 box-bag topic-box">
								<div class="well topic-box" style="background-color: #d7dde2 !important;">
									<h3><b><%= link_to topic[0].title, topic[0]%></b>
										<% if lecturer_signed_in? || teaching_assistant_signed_in? %>
											<%= link_to "Delete", {controller: "topics",
											action: "destroy", :id => topic[0].id},
											class: "badge delete", method: :delete %>	
										<% end %>
										<hr></h3>
									<label class="c-description-label">
										<% if topic[0].description %>
											<%= crop(topic[0].description, 150) %>
										<% end %>
									</label><br><br>
								</div>
							</div>
						</div>
					<% else %>
						<div class="row">
							<% topic.each do |t| %>
								<div class="container col-sm-6 topic-box">
									<div class="well topic-box" style="background-color: #d7dde2 !important;">
										<h3><b><%= link_to t.title, t %></b>
											<% if lecturer_signed_in? || 	teaching_assistant_signed_in? %>
												<%= link_to "Delete", {controller: "topics",
												action: "destroy", :id => t.id},
												class: "badge delete", method: :delete %>	
										<% end %>								
										<hr></h3>
										<label class="c-description-label">
											<% if t.description %>
												<%=  crop(t.description,150) %>
											<% end %>
										</label><br><br>
									</div>
								</div>
							<%end%>
						</div>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="xox">
		<div class="well bell">
			<div class="box-title"> Assignments
				<% if lecturer_signed_in? || teaching_assistant_signed_in? %>
					<div class="btn btn-default">
						<%= link_to "Create Assignment", {controller: 'assignments',
							action: 'new', course_id: params[:id]}, style:'color:white'%>
					</div>
				<% end %>
			</div>
			<% assignments = @course.assignments %>
				<% if assignments.any? %>
					<% if @can_edit %>
						<% assignments.each_slice(2) do |assignment| %>
							<% if assignment.count == 1 %>
								<div class="row">
									<div class="container col-sm-6 box-bag topic-box">
										<div class="well topic-box" style="background-color: #d7dde2 !important;">
											<h3><b><%= link_to assignment[0].title, assignment[0]%></b>
												<% if @can_edit %>
													<% if !assignment[0].publish %>
														<span class="badge">unpublished</span>
													<% end %>
												<% end %>
												<hr></h3>
											<label class="c-description-label">
												<% if assignment[0].description %>
													<%= crop(assignment[0].description,150) %>
												<% end %>
											</label><br><br>
										</div>
									</div>
								</div>
							<% else %>
								<div class="row">
									<% assignment.each do |assignment| %>
										<div class="container col-sm-6 topic-box">
											<div class="well topic-box" style="background-color: #d7dde2 !important;">
												<h3><b><%= link_to assignment.title, assignment %></b>
													<% if @can_edit %>
														<% if !assignment.publish %>
															<span class="badge">unpublished</span>
														<% end %>
													<% end %>
													<hr></h3>
												<label class="c-description-label">
													<% if assignment.description %>
														<%= crop(assignment.description,150) %>
													<% end %>
												</label><br><br>
											</div>
										</div>
									<%end%>
								</div>
							<% end %>
						<% end %>
					<% else %>
						<% assignments.each_slice(2) do |assignment| %>
						<% if assignment.count == 1 %>
							<% if assignment[0].publish %>
								<div class="row">
									<div class="container col-sm-6 box-bag topic-box">
										<div class="well topic-box" style="background-color: #d7dde2 !important;">
											<h3><b><%= link_to assignment[0].title, assignment[0]%></b><hr></h3>
											<label class="c-description-label">
												<% if assignment[0].description %>
													<%= crop(assignment[0].description,150) %>
												<% end %>
											</label><br><br>
											<% if assignment[0].due_date > DateTime.now.to_date %>
												<span class="badge">Due</span>
											<% end %>
										</div>
									</div>
								</div>
							<% end %>
						<% else %>
							<div class="row">
								<% assignment.each do |assignment| %>
									<% if assignment.publish %>
										<div class="container col-sm-6 topic-box">
											<div class="well topic-box" style="background-color: #d7dde2 !important;">
												<h3><b><%= link_to assignment.title, assignment %></b><hr></h3>
												<label class="c-description-label">
													<% if assignment.description %>
														<%= crop(assignment.description, 150) %>
													<% end %>
												</label><br><br>
												<% if assignment.due_date > DateTime.now.to_date %>
													<span class="badge">Due</span>
												<% end %>
											</div>
										</div>
									<% end %>
								<%end%>
							</div>
						<% end %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
