<h1><%= @course.name %></h1>
<div>
	<div>
		<p>
			<b>Code:</b>
			<%= @course.code%>
		</p>
		<p>
			<b>Year:</b>
			<%= @course.year%>
		</p>
		<p>
			<b>Semester:</b>
			<%= @course.semester%>
		</p>
		<p>
			<b>Description:</b>
			<%= @course.description%>
		</p>
	</div>

	<div>
		<%= link_to "View Discussion Board", { :controller => 'discussion_boards', :action => 'show', :id => @course.id	}, class: "btn btn-success", method: :get, style: "text-decoration:none" %>
	</div>

	<div class="panel-group list-group" id="accordion">
		<% @topics.each do |t| %>
			<div class="panel panel-default">
				<div class="panel-title list-group-item list-group-item-info"
					data-toggle="collapse" data-parent="#accordion"
					href="#<%= t.id.to_s %>">
						<b onclick="window.open('/tracks/<%= t.id.to_s %>', '_self')">
							<%= link_to t.title , t , style: 'color:#003366;'%></b>
						<span class="badge"><%= t.tracks.count %></span>
				</div>
				<div id="<%= t.id.to_s %>" class="panel-collapse collapse">
					<ul class="list-group">
						<% t.tracks.each do |tt|%>
							<% color = "label label-default" %>
							<li class="list-group-item" data-toggle="tooltip"
								data-placement="top" title="<%= tt.difficulty%>">
								<%= link_to tt.title , tt , class: color %>
							</li>
						<% end %>
					</ul>
				</div>
			</div>	
		<% end %>
	</div>
</div>