<div class = "course_info panel-body" >
	<div class= "row course_title">
		<div class="course_code"><%= @course.code %></div>
		<div class="course_name"><%= @course.name %></div>
		<% if current_lecturer %>
			<div class="course_manage">
					<%= link_to "Manage", { :controller => 'courses', :action => 'edit',
					:method => :get, :id => params[:id] }, class: ""	%>
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="course_sem">
			Semester <%= @course.semester %>
			Class <%= @course.year %>
		</div>
	</div>
</div>
<div class="row course_description">
	<p>About the Course</p>
	<div class="description-body" ><%= @course.description %> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
</div>
<div class="view_discussion">
	<%= link_to "View Discussion Board", { :controller => 'discussion_boards', :action => 'show', :id => params[:id] }, method: :get %>
</div>

<div class="well">
	<% topics = @course.topics %>
	<% if topics.any? %>
		<% topics.each_slice(2) do |topic| %>
			<% if topic.count == 1 %>
				<div class="row">
					<div class="container col-sm-6 box-bag topic-box">
						<div class="well" style="background-color: #d7dde2 !important;">
							<h3><b><%= link_to topic[0].title, topic[0]%></b><hr></h3>
							<label><%= topic[0].description %></label><br><br>
						</div>
					</div>
				</div>
			<% else %>
				<div class="row">
					<% topics.each do |topic| %>
						<div class="container col-sm-6 topic-box">
							<div class="well" style="background-color: #d7dde2 !important;">
								<h3><b><%= link_to topic.title, topic %></b><hr></h3>
								<label><%= topic.description %></label><br><br>
							</div>
						</div>
					<%end%>
				</div>
			<% end %>
		<% end %>
	<% end %>
</div>