	<%= link_to "<< Back to list", :controller => 'c_problems', :action => 'index' %>
	<p style="color: green"><%= flash[:notice] %></p>
		<h3>Method Constraints</h3>
		<table class = "table table-striped">
			<tr>
				<td><%= @c_problem.title %></td>
			</tr>
			<tr>
				<td><%= @c_problem.description %></td>
			</tr>
			<tr>
			<% if lecturer_signed_in? %>
			<td class="actions">
				<%= link_to "Delete", {:action => "destroy"}, method: :delete, data: { confirm: 'Are you sure you want to delete this Constraints?' } %> 
			</td>
			<% end %>
		</table>
	