<%= form_for :Note, url: {controller: "notes", action: "create"} do |note| %>
	<p>
		<%= note.label :content %><br> 
		<%= note.text_field :content, class: "form-control", style: "width:60%" %>
	</p>
	<%= note.hidden_field :solution_id, value: @solution %>
	<%= note.hidden_field :line, value: @counter %>
	<p>
		<%= note.submit "Save Note", class: "btn btn-info" %>
	</p>
<% end %>