<div class="page-header">
	<h1><%= link_to @course.name , @course %>
		<small><%= link_to @topic.title , @topic %></small></h1>
</div>
<% if @can_edit %>
	<% if flash[:error] %>
		<div align="center" class="alert alert-warning" ><%= flash[:error] %>
		</div><br>
	<% end %>
	<% if flash[:success] %>
		<div align="center" class="alert alert-success" ><%= flash[:success] %>
		</div><br>
		<% end %>
<% end %>

<div class="panel-group list-group" id="accordion">
	<% @problems.each do |problem| %>
		<% if problem.incomplete? %>
			<% if @can_edit %>
				<% if @problems_status %>
					<% if @problems_status[:success].include?(problem) %>
						<% color = "label label-success" %>
					<% elsif @problems_status[:failure].include?(problem) %>
						<% color = "label label-warning" %>
					<% else %>
						<% color = "label label-default" %>
					<% end %>
				<% end %>
				<div class="panel panel-default">
					<div class="panel-title list-group-item list-group-item-info"
						data-toggle="collapse" data-parent="#accordion"
						href="#<%= problem.id.to_s %>">
						<b onclick="window.open('/problems/<%= problem.id.to_s %>', '_self')">
						<%= link_to problem.title, problem , style: 'color:#003366;' ,
						class: color %></b>
						<span class="badge">
							<% if student_signed_in? %>
								<div onclick="showdialog(<%= problem.id.to_s %>,
									<%= current_student.id %>)">
									Recommend to classmates</div>
							<% end %>
						</span>
					</div>
					<div id="<%= problem.id.to_s %>" class="panel-collapse collapse">
						<%= problem.description %>
						<% if @can_edit %>
							<Button><%= link_to "Edit",
							edit_problem_path(:id => problem.id) %></button>
						<% end %>
					</div>
				</div>
			<% end %>
		<% else %>
			<% if @problems_status %>
				<% if @problems_status[:success].include?(problem) %>
					<% color = "label label-success" %>
				<% elsif @problems_status[:failure].include?(problem) %>
					<% color = "label label-warning" %>
				<% else %>
					<% color = "label label-default" %>
				<% end %>
			<% end %>
			<div class="panel panel-default">
				<div class="panel-title list-group-item list-group-item-info"
					data-toggle="collapse" data-parent="#accordion"
					href="#<%= problem.id.to_s %>">
					<b onclick="window.open('/problems/<%= problem.id.to_s %>', '_self')">
					<%= link_to problem.title, problem , style: 'color:#003366;' ,
					class: color %></b>
					<span class="badge">
						<% if student_signed_in? %>
							<div onclick="showdialog(<%= problem.id.to_s %>,
								<%= current_student.id %>)">
								Recommend to classmates</div>
						<% end %>
					</span>
				</div>
				<div id="<%= problem.id.to_s %>" class="panel-collapse collapse">
					<%= problem.description %>
					<% if @can_edit %>
						<Button><%= link_to "Edit",
						edit_problem_path(:id => problem.id) %></button>
					<% end %>
				</div>
			</div>
		<% end %>
	<% end %>
	<div class="classmates_list">
		<div id="container">
		</div>
	</div>
</div>

<% if @can_edit %>
	<Button><%= link_to "Add", new_problem_path(:id => @track.id) %></button>
<% end %>

<%= link_to ('Open Popup-Window', popup_window_path, 'data-pop' => true ) %>
