<%= form_for :test_case , url: test_cases_path do |f| %>
  <p>
    <%= flash[:notice]%><br>
    <%= f.label :Input %>
    <%= f.text_field :input %>
    <%= f.label :Output %>
    <%= f.text_field :output  %>
  </p>
 
  <p >
    <%= f.submit 'Add' %>
  </p>
<% end %>
