<div class="container raplies">
	<% unless @replies.blank? %>
		<div class="row well main_row" >
			<% @replies.each do |reply| %>
			<!-- Start of the row -->
				<div class="row reply", id="reply_<%=reply.id%>" >
				<!-- First Col -->
					<div class="col-sm-10" >
						<div class="row container well reply-content" id="reply_content_<%=reply.id%>" >
							<h2><%= reply.content.html_safe %></h2>
						</div>
						<div class="row poster">
							<font><%= distance_of_time_in_words_to_now reply.created_at %> ago by <%= link_to reply.owner.name, reply.owner %> </font>
						</div>
					</div>
				<!-- Second Col -->
					<div class="col-sm-2" >
						<div class="row edit-reply">
							<div>
								<% if student_signed_in?
									email = current_student.email
								elsif teaching_assistant_signed_in?
									email = current_teaching_assistant.email
								else
									email = current_lecturer.email
								end %>
								<% if email == reply.owner.email %>
									<div>
										<td><%= image_tag "edit_button.png",
												onclick: "edit_reply(#{reply.id},#{reply.post_id})" %>
										</td>
										<td><%= image_tag "delete_button_2.png",
												onclick: "delete_reply(#{reply.id},#{reply.post_id});" %>
										</td>
									</div>
								<% end %>
							</div>
						</div>
					</div>
					<br>
				</div>
			<% end %>
		</div>
	<% else %>
		<div align="center">
			No Replies in this post yet. 
		</div>
	<% end %>
</div>