<body>
	<script type="text/javascript">
		function toggle_visibility(id) {
			var element = document.getElementById(id);
			if(element.style.display == 'block')
				element.style.display = 'none';
			else
				element.style.display = 'block';
		}
	</script>
</body>
<br><ul class= "navbar-brand pull-right"><%= link_to "Create New Model Answer",
			{:controller => 'model_answers', :action => 'new',
			:problem_id => @problem.id }, {class: 'btn btn-primary btn'} %></ul></br>
<br>
<a href="#" return:false; class="Lst" onclick="toggle_visibility('foo'); return false;"
	style="font:120px"> Previous Answers</a>
</br>

<div id="foo" style="display:none;">
	<% if !@answers.any? %>
		<p>You have no previous answers</p>
	<% end %>
	<% if !@answers.empty? %>
		<table class="table table-striped" style = "width:60%">
			<thead>
				<tr>
					<th >Title</th>
					<th style = "width:20%">Created At</th>
					<th style = "width:20%">Updated At</th>
					<th>View/Edit</th>
					<th>Remove</th>
				</tr>
			</thead>
			<tbody>
				<% @answers.each do |answer1| %>
					<tr>
 						<td><%= answer1.title %></td>
						<td><%= answer1.created_at %></td>
						<td><%= answer1.updated_at %></td>
						<td><%= link_to "View/Edit", {:controller => 'model_answers',
								:action => 'edit', :method => :get, :id => answer1.id},
								{class: 'btn btn-primary btn-xs',
								style: "text-decoration:none"} %></td>
						<td><a href="#" class="btn btn-danger btn-xs">Delete</a></td>
					</tr>
				<% end %>
			</tbody>					
	</table>
	<% end %>
</div> 