<%= form_for :model_answer, url: model_answers_path  do |f| %>
	<h1>Previous Answers</h1>
	<table>
		<% @answers.each do |answer1| %>
	<table border ="1">
	<tr>
		<td><%= answer1.answer %></td>
	</tr>
	<% end %>
	</table>
	<p>
		<h2>Please Insert your model answer</h2>
		<%= f.text_area :answer %>
		<%= f.hidden_field :problem_id, value: params[:id] %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>
<%= button_to "Delete Model Answer", {:action => 'destroy', :id => params[:id]}, method: :delete, class: 'btn btn-primary', :confirm => "Are you sure you want to delete this Answer ??" %>