<%= form_for :model_answer, url: model_answers_path  do |f| %>

<%= flash[:notice]%>


<body>
<script type="text/javascript">
function toggle_visibility(id) {
var e = document.getElementById(id);
if(e.style.display == 'block')
e.style.display = 'none';
else
e.style.display = 'block';
}
</script>
</body>
<p>
	<h2>Please Insert your model answer</h2>
	<%= f.text_area :answer,:cols => "50", :rows => "15" %>
</p>
<p>
 <%= f.submit "Save Model Answer", class: "btn btn-large btn-primary"  %>
</p>
<a href="#" return:false; class="Lst"  onclick="toggle_visibility('foo'); return false;"  style="font:120px"> Previous Answers</a>
<% if !@answers.any? %>
			<p>You have no previous answers</p>
			<% end %>

<div id="foo" style="display:none;">

<table class="table table-striped", style = "width:60%">

        <thead>
          <tr>
            <th >Title</th>
            <th style = "width:20%" >Created At</th>
            <th style = "width:20%" >Updated At</th>
            <th >View or Edit</th>
          </tr>
        </thead>
        <tbody>

          <tr>
          <% @answers.each do |answer1| %>
          
            <td><%= answer1.answer  %></td>
            <td><%= answer1.created_at  %></td>
            <td><%= answer1.updated_at  %></td>
            
            <td><%= link_to "View or Edit", :controller => 'model_answers', :action => 'edit', :id => 
            answer1.id, 
              :method => :get, class: 'btn btn-primary btn-xs' %></td>

             </tr>
          
        </tbody>
        <% end %>

      </table>
      </div>
<% end %>
<style type="text/css" />


a.Lst {
    font-size: 30px;
    line-height: 0px;
    padding-left: 0px;
    font-weight: normal;
}
</style>