<!DOCTYPE html>
<html>
<head>
  <title>AddressBook</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if user_signed_in? %>
		<div id="header">
			<table width="100%">
				<tr>
					<td>
						<div id= "prof">
							<%= image_tag current_user.image, :class => "profile_image" %>
						</div>	
					</td>
					<td id="title">
						<h1>AddressBook</h1>
					</td>
					<td>
						<div id="logout">
							<%= link_to 'Home' , root_path %>
						</div>
						<br>
						<div id="logout">
							<%= link_to 'Show My Profile' , user_path(current_user) %>
						</div>
						<br>
						<div id="logout">
							<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
						</div>
					</td>
				</tr>
			</table>
		</div>
		<div id="table">
			<%= yield %>
		</div>
	<% else %>
		<%= yield %>
	<% end %>
</body>
</html>
