<% if objects.present? %>
	<div class="panel panel-default">
		<div class="panel-title list-group-item list-group-item-info"
				data-toggle="collapse" data-parent="#accordion" 
				href="#<%= objects.first.class.name.pluralize.to_s %>">
			<div align="center">
				<a class="panel-title">
					<%= objects.first.class.name.pluralize.to_s %>
					<span class="badge">
						<%= objects.count %>
					</span>
				</a>
			</div>
		</div>
		<div id="<%= objects.first.class.name.pluralize.to_s %>" class="panel-collapse collapse">
			<ul class="list-group">
				<% objects.each do |object| %>
					<li class="list-group-item" data-toggle="tooltip"
						data-placement="top" title="<%= object.name%>">
						<%= link_to object.name, class: 'color' %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
<%end%>