<!--
# [View Layout - Story 1.2]
# General layout
# Author: Ahmed Elassuty
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Valorous.io</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<% unless signed_in? %>
			<%= javascript_include_tag "sign_in" %>
		<% end %>
		<link rel="stylesheet" href="../assets/alertify-themes/alertify.default.css" id="toggleCSS" />
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width"/>
	</head>
	<body style="background: #EEEFE9;">
		<div class="navbar navbar-default navbar-static-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<%=link_to "valorous.io", root_path ,:class=>"navbar-brand"%>
			</div>
			<div class="navbar-collapse navbar-responsive-collapse collapse">
				<% if signed_in? %>
					<%= render "layouts/search_form"%>
				<% end %>
				<ul class="nav navbar-nav navbar-right">
					<% if signed_in? %>
						<li style="padding-right:10px">
							<%= render "layouts/log_out_form" %>
						</li>
					<% else %>
						<li>
							<a class="sign_in_button" onclick="pop_up_dialog('sign_in_dialog')">sign in</a>
							<div id ="sign_in_dialog">
								<div id="tabs">
									<ul>
										<li><a href="#tabs-1">Student</a></li>
										<li><a href="#tabs-2">Lecturer</a></li>
										<li><a href="#tabs-3">Ta</a></li>
									</ul>
								<div id="tabs-1">
									<%= render "students/sessions/new" %> 
								</div>
								<div id="tabs-2">
									<%= render 'lecturers/sessions/new' %>
								</div>
								<div id="tabs-3">
									<%= render 'teaching_assistants/sessions/new' %>
								</div>
								</div>
							</div>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<% if signed_in? %>
			<div class="container cont">
				<div class="col-md-10 left_side">
					<%= yield %>
				</div>
				<div class="col-xs-hidden col-md-2 right_side">
						<%= render "layouts/right_side_bar" %>
				</div>
			</div>
		<% else %>
			<div class="row" style="background: #eeefe9;">
					<%= yield %>
			</div> 
		<% end %>
		</br>
		<div align="center" class="navbar navbar-default
			navbar-static-bottom footer" style="min-width:1000px; border-radius: 0px;">
			<%= render "layouts/footer" %>
		</div>
	</body>
</html>
