<!--
# [View Layout - Story 1.2]
# General layout
# Author: Ahmed Elassuty
-->
<!DOCTYPE html>
<html lang="en" class="zoom125 zooming no-scroll-x">
	<head>
		<title>Tutor</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag Sync.adapter_javascript_url %>
		<%= csrf_meta_tags %>
	</head>
<!-- Navbar Section -->
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="../" class="navbar-brand">CoolSoft - Java Tutor</a>
			</div>
			<div class="navbar-collapse navbar-responsive-collapse collapse">
				<% if signed_in? %>
					<%= render "layouts/search_form"%>
				<% end %>
				<ul class="nav navbar-nav navbar-right">
					<% if signed_in? %>
						<li style="padding-right:10px">
							<%= render "layouts/log_out_form" %>
						</li>
					<% else %>
						<li>
							<a onclick="pop_up_dialog('sign_in_dialog')">sign in</a>
							<div id="sign_in_dialog">
								<ul class="nav nav-tabs">
									<li class="active"><a href="#student" data-toggle="tab">student</a></li>
									<li><a href="#ta" data-toggle="tab">Teaching Assistant</a></li>
									<li><a href="#lecturer" data-toggle="tab">Lecturer</a></li>
								</ul>
								<div class="tab-content">
									<div class="tab-pane active" id="student">
										<%= render "students/sessions/new" %> 
									</div>
									<div class="tab-pane" id="lecturer">
										<%= render "lecturers/sessions/new" %> 
									</div>
									<div class="tab-pane" id="ta">
										<%= render "teaching_assistants/sessions/new" %> </div>
								</div>
							</div>	
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<% if signed_in? %>
			<div class="container cont">
				<div class="col-md-10 left_side">
					<div class="container content_container">
						<%= yield %>
					</div>					
				</div>
					<!-- <div class="col-xs-2" style="background: #eeefe9; box-shadow: -2px 3px 5px -2px grey;"> -->
				<div class="col-xs-hidden col-md-2 right_side">
						<%= render "layouts/right_side_bar" %>

				</div>
			</div>
		<% else %>
			<div class="row" style="background: #eeefe9;">
				<%= yield %>
			</div> 
		<% end %>
		<!-- Start Of Footer Section -->
		<div class="ftr">
			<div class="row">
				<div class="container">
					<footer>
						<%= render "layouts/footer" %>
					</footer>
				</div>
			</div>
		</div>	
	</body>
</html>
