<!DOCTYPE html>
<html>
<head>
  <title>CoolSoft - Java Tutor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p>This line is from the main application layout file. <a href='http://guides.rubyonrails.org/layouts_and_rendering.html'>Read more here.</a></p>

<%= render partial: "layouts/header" %>

<%= yield %>

<%= render partial: "layouts/footer" %>

</body>
</html>
