<!--
# [View Layout - Story 1.2]
# General layout
# Author: Ahmed Elassuty
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>CoolSoft - Java Tutor</title>
		<%= stylesheet_link_tag "application", "bootstrap","token-input", :media => "all"%>
		<%= javascript_include_tag "application","bootstrap", "jquery"%>
		<%= csrf_meta_tags%>
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			<a href="../" class="navbar-brand">CoolSoft - Java Tutor</a>
			</div>
			<div class="navbar-collapse navbar-responsive-collapse collapse" style="height: 1px;">
				<% if signed_in? %>
					<%= render "layouts/search_form"%>
				<% end %>
				<ul class="nav navbar-nav navbar-right">
					<% if signed_in? %>
						<li style="padding-right:10px">
							<%= render "layouts/log_out_form" %>
						</li>
					<% else %>
						<li class="dropdown" style="padding-right:10px">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="../lecturers/sign_in">Lecturer</a></li>
								<li><a href="../teaching_assistants/sign_in">Teaching Assistant</a></li>
								<li><a href="../students/sign_in">Student</a></li>
							</ul>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		</br>
		<div id="main" class="container" style="width:100%">
			<% if signed_in? %>
				<div class="row">
					<%= render "layouts/right_side_bar"%>
					<div class="well main-content" style="min-height:500px">
						<%= render "problems/system_recommendation" if student_signed_in? %>
						<%= yield %>
					</div>
				</div>
			<% else %>
				<div class="well container main-content" style="min-height:500px">
					<%= yield %>
				</div>
			<% end %>
		</div>
		</br>
		<div align="center" class="navbar navbar-default navbar-static-bottom footer">
			<%= render "layouts/footer" %>
		</div>
	</body>
</html>