<!DOCTYPE html>
<html>
<head>
  <title>CoolSoft - Java Tutor</title>
	<%= stylesheet_link_tag "application", "bootstrap", "bootstrap.min", :media => "all"%>
	<%= javascript_include_tag "application","jquery"%>
	<%= csrf_meta_tags%>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">

			<div class="nav navbar-nav navbar-left">
				<%= link_to image_tag("logoImgHere" , { :title => "Tutor Java !"})%>
			</div>

			<a href="../" class="navbar-brand">CoolSoft - Java Tutor</a>

		</div>
		
		<div class="navbar-collapse collapse" id="navbar-main">
		</div>

	</div>
</div>

<div class="container well" style="margin-top:70px;width:600px">
<%= yield %>
</div>


<div id="footer" class="navbar navbar-default navbar-bottom">

</div>

</body>
</html>
