<!--
# [View Layout - Story 1.2]
# General layout
# Author: Ahmed Elassuty
-->
<!DOCTYPE html>
<html lang="en" class="zoom125 zooming no-scroll-x">
	<head>
		<title>Tutor</title>
		<%= stylesheet_link_tag "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= javascript_include_tag Sync.adapter_javascript_url %>
		<%= csrf_meta_tags %>
	</head>
	<body>
<!-- Navbar Section -->
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="../" class="navbar-brand">CoolSoft - Java Tutor</a>
			</div>
			<div class="navbar-collapse navbar-responsive-collapse collapse">
				<% if signed_in? %>
					<%= render "layouts/search_form"%>
				<% end %>
				<ul class="nav navbar-nav navbar-right">
					<% if signed_in? %>
						<li style="padding-right:10px">
							<%= render "layouts/log_out_form" %>
						</li>
					<% else %>
						<li class="dropdown" style="padding-right:10px">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret">
							</b></a>
							<ul class="dropdown-menu">
								<li><a href="../lecturers/sign_in">Lecturer</a></li>
								<li><a href="../teaching_assistants/sign_in">Teaching Assistant</a></li>
								<li><a href="../students/sign_in">Student</a></li>
							</ul>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
		<br><br>
		<% if signed_in? %>
			<div class="container">
				<div class="row">
					<div class="col-xs-10 left_side" >
							<%= yield %>
					</div>
<!-- 					<div class="col-xs-2" style="background: #eeefe9; box-shadow: -2px 3px 5px -2px grey;"> -->
					<div class="col-xs-2 right_side" style="background-color:#e6db00;">
						<%= render "layouts/right_side_bar" %>
					</div>
				</div>
			</div>
		<% else %>
			<%= yield %>
		<% end %>
<!-- Start Of Footer Section -->
		<div class="ftr">
			<div class="row">
				<div class="container">
					<footer>
						<%= render "layouts/footer" %>
					</footer>
				</div>
			</div>
		</div>
	</body>
</html>
