<!-- Documentation  Common styles and the shared layout for the site goes here it renders different forms depending on the status of the user logged in or not%> -->

<!DOCTYPE html>
<html>
<head>
  <title>CoolSoft - Java Tutor</title>
	<%= stylesheet_link_tag "application", "bootstrap", "bootstrap.min", :media => "all"%>
	<%= javascript_include_tag "application","jquery"%>
	<%= csrf_meta_tags%>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">

			<div class="nav navbar-nav navbar-left" style="margin-right:12px">
				<%= link_to image_tag("logo.png" , { :title => "Tutor Java !" , size: "50x50"})%>
			</div>

			<a href="../" class="navbar-brand">CoolSoft - Java Tutor</a>
			<%- if signed_in?%>
				<form class="navbar-form navbar-left">
                    <input type="text" class="form-control col-lg-8" placeholder="Search">
                </form>
            <%end%>
		</div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<%= render "layouts/log_out_form" %>
		</div>

	</div>
</div>

<%- if signed_in?%>
	<%= render "layouts/left_side_bar"%>
	<%= render "layouts/right_side_bar"%>
<%end%>


<div class="container well" align="center" style="margin-top:70px;margin-bottom:70px;width:60%;height:80%">
<%= yield %>
</div>



<div id="footer" align="center" class="navbar navbar-default navbar-fixed-bottom">
	<%= render "layouts/footer"%>
</div>

</body>
</html>
