<%= form_for :@constrain do |f| %>
	<table>
		<tr>
			<th>Variable Constraints</th>
			<td width = "10px"></td>
			<td><%= u.text_field :variable_name, placeholder: "Variable Type" %></td>
			<td width = "10px"></td>
			<td><%= u.text_field :variable_name, placeholder: "Variable Name" %></td>
			<td width = "20px"></td>
			<td><%= image_tag "add_buttom.png", id:"params", style: "width:15%;height:15%;margin_top:10px;cursor:pointer", onclick: "add_params(this);"%></td>
		</tr>
	</table>
	<div id="variable">
		<h3>Variables</h3>
			No Variables
	</div>
	<br>
	<%= f.submit "Save Changes", class: "btn btn-default"%>	
<% end %>