<%= link_to "<< Back to list", :controller => 'solutions_constraints', :action => 'index' %>
<h1> Edit Constraints</h1>
<%= form_for :Parameter, url: {action: "update"} do |edit| %>
	<table>
		<tr>
			<th>Method Parameter</th>
			<td><%= edit.text_field(@parameters.parameter) %></td>
		</tr><br><br>
		<tr>
			<th>Variable Constraints</th>
			<td><%= edit.text_field(@variables.variable_name) %></td>
		</tr>
	</table><br><br>
	<%= edit.submit "Save Changes"%>
<% end %>