	<%= link_to "<< Back to list", :controller => 'solutions_constraints', :action => 'index' %>
	<p style="color: green"><%= flash[:notice] %></p>
	<table class = "table table-striped", style = "width:80%">
		<tr>
			<th>Constraints</th>
		</tr>
		<tr>
			<td><%= @parameters.parameter %></td>
		</tr>
		<tr>
			<td><%= @variables.variable_name %></td>
		</tr>
		<tr>
			<td class="actions">
				<%= link_to "Edit", :controller => 'solutions_constraints', :action => 'edit' %>
				<%= link_to "Delete", {:action => "destroy"}, method: :delete, data: { confirm: 'Are you sure you want to delete this Constraints?' } %> 
			</td>
		</tr>
	</table>	
	

	





	