<p><%= @problem.description %></p>
<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>
	<%= problem.text_area :description, :cols => "50", :rows => "10" %>
	<p>
		<%= problem.submit('update description') %>
	</p>
	<%= problem.hidden_field :template, value: @problem.template %>
	<%= problem.hidden_field :title, value: @problem.title %>
	<%= problem.hidden_field :track_id, value: @problem.track_id %>
<% end %>