<p><%= @problem.description %></p>
<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |p| %>

	<%= p.text_area :description, :cols => "50", :rows => "10" %>
	<p>
	<%= p.submit('update description') %>
	</p>
	<%= p.hidden_field :title, value: @problem.title %>
	
<% end %>