<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>
	<%= problem.text_area :description, :value => @problem.description, class:"form-control", style: "width:650px; height:250px;" %>
	<p>
		<br>
		<%= problem.submit "update description", class: 'btn btn-info'%>
	</p>
	<%= problem.hidden_field :snippet, value: @problem.snippet %>
	<%= problem.hidden_field :title, value: @problem.title %>
	<%= problem.hidden_field :track_id, value: @problem.track_id %>
<% end %>