<div id="div1">
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
</div>

<div id="div2">
	<h2 align ="center"><%= @problem.title %></h2>
	<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>

		<%= problem.text_field :title %>
		<%= problem.hidden_field :description, value: @problem.description %>
		<%= problem.submit('update title') %>
	
	<% end %>
</div>
<div id="div3">
	<p><%= @problem.description %></p>
	<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>

		<%= problem.text_area :description, :cols => "50", :rows => "10" %>
		<p>
		<%= problem.submit('update description') %>
		</p>
		<%= problem.hidden_field :title, value: @problem.title %>
		
	<% end %>
</div>

<%= render partial: "test_cases/index" %>
<%= render partial: "model_answers/new" %>

<%= render partial: "problems/success_options" %>
<% if @problem.model_answers.empty? || @problem.test_cases.empty? %>
	<%= render partial: "problems/failure_options" %>
<% end %>