<div id="div1">
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
</div>

<div id="div2">
	<h2 align ="center"><%= @problem.title %></h2>
	<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>
		<%= problem.text_field :title %>
		<%= problem.hidden_field :description, value: @problem.description %>
		<%= problem.submit('update title') %>
	<% end %>
</div>

<div id="div3">
	<p><%= @problem.description %></p>
	<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>
		<%= problem.text_area :description, :cols => "50", :rows => "10" %>
		<p>
			<%= problem.submit('update description') %>
		</p>
		<%= problem.hidden_field :title, value: @problem.title %>
	<% end %>
</div>

<%= render partial: "model_answers/index" %>
<%= render partial: "test_cases/index" %>
<%= render partial: "problems/success_options" %>
<!-- A division for the flash message output to view the action's output -->
<% if flash[:notice] %>
	<div class="notice"><%= flash[:notice] %></div>
<% end %>
    <%= button_to "Delete Problem", {:action => 'destroy'}, method: :delete,
		class: 'btn btn-primary', :id => params[:id],
			:confirm => "Are you sure you want to delete this problem ??" %>

<% if @problem.model_answers.empty? || @problem.test_cases.empty? %>
	<%= render partial: "problems/failure_options" %>
<% end %>
