<div id="div1">
	<% if flash[:notice] %>
		<div class="notice"><%= flash[:notice] %></div>
	<% end %>
</div>

<div id="div2">
	<h2 align ="center"><%= @problem.title %></h2>
	<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>
		<%= problem.text_field :title %>
		<%= problem.submit('update title') %>
		<%= problem.hidden_field :description, value: @problem.description %>
		<%= problem.hidden_field :track_id, value: @problem.track_id %>
	<% end %>
</div>

<div id="div3">
	<p><%= @problem.description %></p>
	<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>
		<%= problem.text_area :description, :cols => "50", :rows => "10" %>
		<p>
			<%= problem.submit('update description') %>
		</p>
		<%= problem.hidden_field :title, value: @problem.title %>
		<%= problem.hidden_field :track_id, value: @problem.track_id %>
	<% end %>
</div>

<div id = "div4">
	<p>Current Track: <%= @track.title %></p>
	<%= form_for :Problem, url: problem_path(@problem), method: :patch, remote: true do |problem| %>
		<% if Array(@tracks).size > 1 %>
			<%= problem.collection_select(:track_id, @tracks, :id,:title ) %>
			<%= problem.submit('Change Track') %>
			<%= problem.hidden_field :title, value: @problem.title %>
			<%= problem.hidden_field :description, value: @problem.description %>
		<% end %>
	<% end %>
</div>
<br>
<%= render partial: "test_cases/index" %>
<br>
<%= render partial: "model_answers/index" %>
<br>
<br>
<%= render partial: "problems/success_options" %>
<% if @problem.model_answers.empty? || @problem.test_cases.empty? %>
	<%= render partial: "problems/failure_options" %>
<% end %>