<div class= "left-box" >
	<div class="xob">
		<div class = "c_info panel-body" >
			<div class= "row c_title">
				<% track = Track.find(params[:id]) %>
				<div class="c_code"><%= track.topic.course.code %></div>
				<div class="c_name"><%= link_to track.topic.course.name, @course, style: "color: black" %></div>
			</div>
			<div class="row">
				<div class="course_sem">
					Semester <%= track.topic.course.semester %>
					Class <%= track.topic.course.year %>
				</div>
			</div>
		</div>
		<div class = "course_info panel-body" >
			<div class= "row course_title">
				<div class="course_code"><%= track.topic.title %> | </div>
				<div class="course_name"><%= track.title %></div>
			</div>
		</div>	
		<h1 align ="center">Add a problem</h1>
		</br>

		<% if flash[:notice] %>
			<div class = "alert alert-danger" style = "width: 50%;"><%= flash[:notice] %></div>
		<% end %>

		<%= form_for :Problem, url: {action: "create"} do |problem| %>
			<p>
				<%= problem.label :title %><br> 
				<%= problem.text_field :title, class: "form-control", style: "width:60%" %>
			</p>
			<p>
				<%= problem.label :description %><br>
				<%= problem.text_area :description, :cols => "50", :rows => "10",
					 class: "form-control", style: "width:60%" %>
			</p>
			<p>
				<%= problem.label :snippet %><br>
				<%= problem.text_area :snippet, cols: 50, rows: 10,
					class: "form-control", style: "width: 60%",
					value: "public class CoolSoft {\n\t
					public static void main(String [] args) {\n\t\t\n\t}\n}" %>
			</p>
			<%= problem.hidden_field :track_id, value: params[:id] %>
			<p>
				<%= problem.submit "Save Problem", class: "btn btn-info" %>
			</p>
		<% end %>
	</div>
</div>