<label ><%=@course.name %></label>
<br>
<label ><%=@topic.title %></label>
<br>
<label ><%=@track.title %></label>
<br>
<br>

<div class='problem'>
	<label><%= @problem.title %></label><br/>
	<%=@problem.description %>

	<%= render partial: "solutions/new"%>
</div>