<% if !student_signed_in? %>
	<%= javascript_include_tag "problems/_solutions", "facebook" %>
<% end %>

<div class= "left-box" >
	<div class="xob">
		<div class = "course_info panel-body" >
			<div class= "row c_title">
				<div class="course_code"><%= @course.code %></div>
				<div class="course_name">
					<%= link_to @course.name, @course, style: "color: grey" %>
				</div>
			</div>
			<div class="row">
				<div class="course_sem">
					Semester <%= @course.semester %>
					Class <%= @course.year %>
				</div>
			</div>
			<div class= "row c_title">
				<div class="course_code">
					<%= link_to @topic.title, {controller: 'topics', action: 'show', id: @topic.id},  style: "color: gray" %> | 
				</div>
				<div class="course_code">
					<%= link_to @track.title, {controller: 'tracks',
						action: 'show', id: @track.id},  style: "color: gray" %>
				</div>
			</div>
		</div>	
		<br><br>
		<div id="fb-root"></div>
		<div class='problem'>
			<% if !student_signed_in? %>
				<img src="/assets/facebooksharebutton.png" class="fb-button" 
				style="float: right; width: 32px; height: 32px;" 
				onClick="openBackWindow('/facebook', 'Facebook')" title="Ask Facebook"></img>
			<% end %>
			<div class='problem_title'>
				<label><%= @problem.title %></label>
			</div>
			<br/><br/>

			<div class="problem_desc">
				<%= @problem.description %>
			</div>
			<br><br>
			<%= render partial: "solutions/test_cases_time_limit" %>
			<table width='100%'>
				<tr>
					<td width='80%'>
						<% if student_signed_in? %>
							<% track_progess = TrackProgression.get_progress(current_student,
							@problem.track.topic) %>
		 					<% if track_progess >= @problem.track.difficulty %>
		 						<%= render partial: "solutions/timer" %>
		 						<%= render partial: "solutions/new"%>
		 						<td style='vertical-align:top;'>
									<div style='margin-left:1em;'>
										<b>Memory Contents:</b>
										<div id="memory" class="fixed-dimensions">
											<table class="table table-striped table-bordered
												table-condensed table-hover" border="3">
												<tr class='info'>
													<th>Variable</th>
													<th>Value</th>
												</tr>
											</table>
										</div>
										<br />
										<div id="stack" class="fixed-dimensions">
										</div>
										<br /><br />
										<button id='tip' type="button" 
											class="btn btn-info" 
											data-toggle="tooltip" 
											data-placement="left" 
											title="Appears based on number of submissions">
											Hints</button><br /><br /><br /><br />
										<%= render partial: "hints/give" %>
										<br /><br />
										<button id='tip'type="button" 
											class="btn btn-info" 
											data-toggle="tooltip" 
											data-placement="left" 
											title="Appears based on the time counter">
											Tips</button><br /><br />
										<%= render partial: "tips/give" %>
									</div>
								</td>
							<% end %>
						<% end %>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>