
<div class="left-row">
	<label><%= @course.name %></label>\
	<label><%= @topic.title %></label>\
	<label><%= @track.title %></label>
	<br /><br />
	<div id="fb-root"></div>
	<div class='problem'>
		<img src="/assets/facebooksharebutton.png" class="fb-button" style="float: right; width: 32px; height: 32px;" onClick="openBackWindow('/facebook', 'Facebook')" title="Ask Facebook"></img>
		<label><%= @problem.title %></label><br/>
		<%= @problem.description %>
		<table width='100%'>
			<tr>
				<td width='80%'>
					<% if student_signed_in? %>
						
						<% track_progess = TrackProgression.get_progress(current_student,
						@problem.track.topic) %>
	 					<% if track_progess >= @problem.track.difficulty %>
	 						<%= render partial: "solutions/new"%>
	 						<td style='vertical-align:top;'>
								<div style='margin-left:1em;'>
									<b>Memory Contents:</b>
									<div id="memory" class="fixed-dimensions">
										<table class="table table-striped table-bordered
											table-condensed table-hover" border="3">
											<tr class='info'>
												<th>Variable</th>
												<th>Value</th>
											</tr>
										</table>
									</div>
									<br />
									<div id="stack" class="fixed-dimensions">
									</div>
									<br /><br />
									<script type="text/javascript">
									$('#tip').tooltip(options)</script>
									<button id='tip'type="button" 
										class="btn btn-info" 
										data-toggle="tooltip" 
										data-placement="left" 
										title="Appears based on number of submissions">
										Hints</button><br /><br /><br /><br />
									<%= render partial: "hints/give" %>
									<br /><br />
									<button id='tip'type="button" 
										class="btn btn-info" 
										data-toggle="tooltip" 
										data-placement="left" 
										title="Appears based on the time counter">
										Tips</button><br /><br />
									<%= render partial: "tips/give" %>
								</div>
							</td>
						<% end %>
					<% end %>
				</td>
			</tr>
		</table>
	</div>
</div>