<label><%= @course.name %></label> / 
<label><%= @topic.title %></label> / 
<label><%= @track.title %></label>
<br /><br />
<div id="fb-root"></div>
<div class='problem'>
	<label><%= @problem.title %></label><br/>
	<%= @problem.description %>
	<table width='100%'>
		<tr>
			<td width='80%'>
				<% if student_signed_in? %>
					<%=button_tag 'Ask Facebook', type: 'Button', id:'facebook', onClick: "openBackWindow('/facebook', 'Facebook')" %>
					<% track_progess = TrackProgression.get_progress(current_student,
					@problem.track.topic) %> 
 					<% if track_progess >= @problem.track.difficulty %>
 						<%= render partial: "solutions/new"%>
 						<td style='vertical-align:top;'>
							<div style='margin-left:1em;'>
								<b>Memory Contents:</b><br /><br />
								<br /><br />
								<b>Hints:</b><br /><br />
								<br /><br />
								<b>Tips:</b><br /><br />
							</div>
						</td>
					<% end %> 
				<% end %>
			</td>
		</tr>					
	</table>
</div>