<!-- 
	Author: Ahmed Akram
 -->

<div id="header">
	<h2 style="text-align: center;"><%= @contest.title %></h2>
</div>

<br><br>

<div id="description">
	<h3 style="text-align: center;"><%= @problem.title %></h3>
	<p style="font-size: 20px; color: gray"> <%= @problem.description %> </p>	
</div>

<br/>

<%= render partial: "solutions/editor" %>

<%= render partial: "solutions/input_output" %>