<!--  Name: The New Post Form 
    Author: Ahmed Atef
-->

<div align="center">
    <h1>Edit Post</h1>
    <br/>
    <% if flash[:notice] -%>
        <div class="alert alert-warning", style="width:180px;display:inline"><%= flash[:notice] %></div>
    <% end %>
    <br/><br/><br/>
    <%= form_for :post, url: {action: "update", :id => @post.id} do  |f| %>
        <p>
            <%= f.label "Title" %><br>
            <%= f.text_field :title, autofocus: true, class:"form-control", style: "width:300px", placeholder: "Title",:value => @post.title%>
        </p>
        <p>
            <%= f.label :content %><br>
            <%= f.text_area :content, class:"form-control", style: "margin-left:auto;
            margin-right:auto;height:200px;width:500px;resize:none", placeholder: "Enter your post",:value => @post.content%>
        </p>
        <p>
            <%= f.submit "Update Post", class: "btn btn-success"  %>
        </p>
    <% end %>
</div>