<!--  Name: The Edit Post Form 
    Author: Ahmed Atef
-->

<div align="center">
    <h1>Edit Post</h1>
    <br/>
    <% if @post.errors.any? %>
        <div id="error_explanation">
            <h2>
                <%= pluralize(@post.errors.count, "error") %>
                    prohibited the Post from being edited:
            </h2>
        </div>
        <ul>
            <% @post.errors.full_messages.each do |msg| %>
                <li>
                    <%= msg %>
                </li>
            <% end %>
        </ul>
    <% end %>
    <br/><br/><br/>
    <%= form_for :post, url: {action: "update", :id => @post.id} do  |f| %>
        <p>
            <%= f.label "Title" %><br>
            <%= f.text_field :title, autofocus: true, class:"form-control", style: "width:300px", placeholder: "Title",:value => @post.title %>
        </p>
        <p>
            <%= f.label :content %><br>
            <div class="well editor">
                <%= f.cktext_area :content, cols: 10, :ckeditor => {:toolbar => 'basic'}  %>
            </div>
        </p>
        <p>
            <%= f.submit "Update Post", class: "btn btn-success" %>
        </p>
    <% end %>
    <%= button_to "Delete Post", {:action => 'destroy', :id => params[:id]}, method: :delete,
        class: 'btn btn-primary', :confirm => "Are you sure??" %>
</div>

<style type="text/css">
    .editor {
        width: 100%;
    }
</style>