<div class= "left-box" >
    <div class="xob" style="padding : 0px 15px 2px;">
        <div class = "c_info panel-body" >
            <div class= "row c_title">
                <div class="c_code"><%= @discussion_board.course.code %></div>
                <div class="c_name"><%= link_to @discussion_board.course.name, @discussion_board.course.name, style: "color: black" %></div>
            </div>
            <div class="row">
                <div class="course_sem">
                    Semester <%= @discussion_board.course.semester %>
                    Class <%= @discussion_board.course.year %>
                </div>
            </div>
        </div>
        <br>
        <hr>
        <div class="row well post-header">
            <h1 style='text-align: center;'><b> Ask a question</b> </h1>
        </div>
        <div align="center">
            <% if @new_post.errors.any? %>
                <div id="error_explanation">
                    <h2>
                        <%= pluralize(@new_post.errors.count, "error") %>
                        prohibited the Post from being saved:
                    </h2>
                </div>
                <ul>
                    <% @new_post.errors.full_messages.each do |msg| %>
                        <li>
                            <%= msg %>
                        </li>
                    <% end %>
                </ul>
            <% end %>
            <br/><br/><br/>
            <%= form_for :post, url: {action: "create"} do  |f| %>
                <p>
                    <%= f.label "Title" %><br>
                    <%= f.text_field :title, autofocus: true, class:"form-control",
                         style: "width:300px", placeholder: "Title",:value => @new_post.title %>
                </p>
                <p>
                    <%= f.label :content %><br>
                    <%= f.text_area :content, class:"wysihtml5 form-control",
                            style: "height:200px;width:100%;",
                                placeholder: "Enter your post",
                                    :value => @new_post.content %>
                    <%= f.hidden_field :discussion_board_id,
                        value: params[:discussion_board_id],
                            :value => @discussion_board.id %>
                </p>
                <p>
                    <%= f.submit "Save", class: "btn btn-success"%>
                </p>
            <% end %>
        </div>
    </div>
</div>