<div class="row">
	
</div>
<div class="row main_row" >
	<div class="post ">
		<font></font>
		<div class="container p_div">
			<div class="header"> 
				<h1><%= @post.title %></h1>
			</div>
			<div class="edit_post">
				<%= link_to "Edit Post", edit_post_path(@post) %>
			</div>
			<br>
			<h2><%= @post.content.html_safe %></h2>
			<hr>
			<h3><%= distance_of_time_in_words_to_now @post.created_at %> 
				ago by <%= link_to @post.owner.name , @post.owner %> </h3>
		</div>
	</div>
</div>
<div class="row">
	<%= render "/replies/index", :@replies => @replies, :@post => @post %>
</div>
