<!--  Name: The Show Post Form 
    Author: Ahmed Atef
-->
<div class=" well">
	<div class="row">
		<div class="well container"> <h1><%= @post.title %></h1></div>
	</div>
	<div class="row" >
		<div class="well" >
			<div class="post well" style="width:100%; height:50%;">
				<div class = "greyLine">
					<p><font size="3"><%= @post.owner.name %></font> </p>
					<div class="well container" >
						<div style="margin-left:1%;" style="background-color:red !important; ">
							<h2><%= @post.content.html_safe %></h2>
							<p><%= distance_of_time_in_words_to_now @post.created_at %> ago</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row well">
		<%= render "/replies/index", :@replies => @replies, :@post => @post %>
	</div>
</div>