<% if flash[:notice] %>
	<div class="alert alert-warning",
		style="width:180px;display:inline"><%= flash[:notice] %></div>
<% end %>
<% if @discussionBoard.activated == true %>
	<table class="table table-striped table-bordered table-responsive">
		<div align="center">
			<h3><%= @discussionBoard.title %></h3>
		</div>
		<% unless @posts.blank? %>
			<tr>
				<td>Post</td>
				<td>Replies</td>
				<td>Post Owner</td>
				<td>Last Reply </td>
				<td>Created</td>
				<td>Views</td>
			</tr>
			<% @posts.each do |post| %>
				<tr>
					<td>
						<h4><%= link_to post.title, :controller => 'posts', :action=> 'show',
								:id => post.id,:method => :get, class:
									"btn btn-success" %></h4>
					</td>
					<td> 
						<small><%= post.replies.count %></small><br/>
					</td>
					<td>
						<small><%= post.owner.name %>'s post</small><br/>
					</td>
					<td>
						<% if post.most_recent_reply %>
							<%= distance_of_time_in_words_to_now post.most_recent
								_reply.created_at %> ago by 
							<% if post.most_recent_reply.owner_type == "Lecturer" %>
								<%= link_to post.most_recent_reply.owner.name,
									"/lecturers/{post.most_recent_reply.owner_id}" %>
							<% end %>
							<% if post.most_recent_reply.owner_type == "Student" %>
								<%= link_to post.most_recent_reply.owner.name,
									"/students/{post.most_recent_reply.owner_id}"  %>
							<% end %>
							<% if post.most_recent_reply.owner_type == "TeachingAssistant" %>
								<%= link_to post.most_recent_reply.owner.name,
									"/teachingassistants/{post.most_recent_reply.owner_id}" %>	
							<% end %>
						<% else %>
							No replies
						<% end %>
					</td>
					<td> 
						<small><%=distance_of_time_in_words_to_now post.created_at %> ago</small>
						<br/>
					</td>
					<td> 
						<small><%= post.views_count %></small><br/>
					</td>
				</tr>
			<% end %>
		<% else %>
			No Posts Yet .. Try Creating a Post
		<% end %>	
	</table>
	<div>
		<%= link_to "Add Post", new_post_path(discussion_board_id:
			@discussionBoard.id), class: "btn btn-success" %> 
	</div>
<% else %>
	The discusstion board is deactivated
<% end %>