<div align="center">
	<% if @discussionBoard.activated == true %>
		<div style="width: 50%; margin-left:25%">
			<h3><%=@discussionBoard.title%></h3>
			<% unless @posts.blank? %>
				<% @posts.each do |post| %>
					<div style="background-color: #A8A8A8">
						<h3><%= post.owner.name %></h3>
						<%= post.content %><br>
						<%= post.views_count %>
					</div>
					<br>
				<% end %>
			<% else %>
				No Posts Yet .. Try Creating a Post
			<% end %>
		</div>
		<div>
			<%= button_to "Add Post", {:controller => 'posts', :action => 'new',
			:discussion_board_id => @discussionBoard.id}, class: "btn btn-success" , style: "float: left;margin-left: 15px",method: :post %> 
	</div> 	
	<% else %>
		The discusstion board is deactivated
	<% end %>
</div>