<div class="container" style="width:100%;">
	<div class="container header" >
		<h1><h><%= @discussionBoard.title %></h></h1>
		<hr style="width:50% !important;">
	</div>
	<br>
	<div class="container">
		<% if !@discussionBoard.blank? %>
			<% @discussionBoard.posts.each do |post| %>
				<div class="container box" style="background-color:white !important; width:100%;" >
					<div class="col-md-12 container well">
						<div class="row">
							<div class="container col-md-2">  </div>
							<div class="container col-md-8"> <h2><b><%= link_to post.title, post %></b></h2></div>
							
						</div>
						<br>
						<div class="row">
							<div class="container col-sm-4 details"> <h3>Views</h3> <%= post.views_count %> </div>
							<div class="container col-sm-4 details"> <h3>Replies</h3> <%= post.replies.count %></div>
							<div class="container col-sm-4 details"> <h3>Posted at</h3>
								<%= distance_of_time_in_words_to_now post.created_at %>
							</div>
						</div>
					</div>
				</div>
				<!-- <hr> -->
			<% end %>
		<% else %>
		<% end %>
	</div>
</div>
<style type="text/css">
	.header {
		text-align: center;
		/*box-shadow: 50px 0px 50px black;*/
	}
	.body {
		background-color:blue;
		text-align: center;
	}
	.test {
		min-width: 50%;
		min-height: 50%;
		width: 100%;
		height: 100%;
	}
	.box {
		/*border-top: 1px solid #1a5f63 !important;*/
		border-bottom: 1px solid #1a5f63 !important;
	}
	.details {
		text-align: center;
	}
	.style_image {
		width: 50%;
		height: 50%;
		background-color: #e61349;
	}
</style>