<div align="center">
	<h2>Resend unlock instructions</h2>

	<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), 
		html: { method: :post, :class => 'form-devise' }) do |f| %>
		<%= devise_error_messages! %>

		<div>
			<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
		</div>

		<div><%= f.submit "Resend unlock instructions", class: "btn btn-success button-devise" %></div>
	<% end %>

	<%= render "lecturers/shared/links" %>
</div>