<!-- 
	 Author: Ahmed mohamed magdi
-->
<%- unless student_signed_in? || lecturer_signed_in? || teaching_assistant_signed_in? %>
<!-- Introduction Section -->		
	<div class="intro">
		<div class="row">
			<div class="container" style="margin-top: 100px;">
				<div class="col-sm-6 mac-description" >
					<h1>
						<font class="h1-tag">valorous.io</font>
						<span class="text-muted">  &raquo; Your Tutor Companion </span>
					</h1>
					<p>
						<font class="p-tag">
							Programming is difficult for many, they can't grasp the way of how to write a code. Valorous will be their tutor, with tons of problems relating to all data structures and algorithms. Valorous supports multiple languages which will improve their programming skills.
						</font>
					</p>
				</div>
				<div class="col-sm-6 mac" >
					<img class="img-md-responsive" src="/assets/Macbook-Flat-Mockup.png">
				</div>
			</div>
		</div>
	</div>
<!-- Features Section -->
	<div class="features">
		<div class="container padded" style="width:50% !important;">
		    <div class="well row">
		        <div class="col-lg-12"><h1><b>&raquo;Features</b></h1><hr></div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-3">
		    		<img class="img-circle img-responsive" src="/assets/hexa_bug.png">
		    	</div>
		    	<div class="col-sm-9 content_de">
		    		<h3><b>Debugging</b></h3>
		            <p>Debug your code on the go. Valorous offers you with a debugging environment for multiple language that works on any web browser and even on mobile devices. It will help you through the process of tracing and debugging your code.</p>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-9 content_de">
	    			<h3><b>Contests</b></h3>
		            <p>Valorous ensures creating a learning environment in which lecturers can create contests,  students can subscribe to them and compete with their friends.</p>
		    	</div>
		    	<div class="col-sm-3">
		    		<img class="img-circle img-responsive" src="/assets/hexa_cup.png">
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-3">
		    		<img class="img-circle img-responsive" src="/assets/hexa_db.png">
		    	</div>
		    	<div class="col-sm-9 content_de">
		            <h3><b>Questions/Answers</b></h3>
			            <p>Valorous provides you with discussion board for every course a student is signed up to. Students can ask and answer questions, brainstorm with their friends, and get advice from TAs and lecturers.</p>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col-sm-9 content_de">
		    		<h3><b>Assignments</b></h3>
			            <p>Valorous provides an all-in-one interactice enviroment for the lecturers, TAs, and students. Lecturers can create assignments and the TAs can grade them and leave feedback for the students.</p>
		    	</div>
		    	<div class="col-sm-3">
		    		<img class="img-circle img-responsive" src="/assets/hexa_assignment.png">
		    	</div>
		    </div>
		    </div>
		</div>
	</div>    
<!-- SignUp Section -->
	<div class="row how-it-works">
		<div class="container  sh-con" align="center">
			<div id="myCarousel" class="carousel slide" style="width:50% !important; height:100% !important;ee">
		    <ol class="carousel-indicators">
		        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		        <li data-target="#myCarousel" data-slide-to="1"></li>
		        <li data-target="#myCarousel" data-slide-to="2"></li>
		    </ol>
		    <div class="carousel-inner">
		        <div class="item active">
		            <img src="/assets/sh1.png">
		            <div class="container active">
		                <div class="carousel-caption">
		                </div>
		            </div>
		        </div>
		        <div class="item">
		            <img src="/assets/sh2.png">
		            <div class="container active">
		                <div class="carousel-caption">
		                </div>
		            </div>
		        </div>
		        <div class="item">
		            <img src="/assets/sh3.png">
		            <div class="container active">
		                <div class="carousel-caption">
		                </div>
		            </div>
		        </div>
		    </div>    
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
    
		</div>
<!--Carousel End -->
	</div>
	<div class="registration">
	    <!-- <div class="row"> -->
	        <div class="container">
				<div class="row" style="margin: 0px auto 0px auto">
					<div >
						<h1><b>&raquo;&raquo; Register now &laquo;&laquo;</b></h1>
					</div>
					<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
					<hr>
				</div>
				<!-- <br><br> -->
				<div class="row" style="margin: 0px auto 0px auto">
					<div class="col-sm-4">
						<div class="well">
							<%= button_to 'Student', new_student_registration_path, style: "height:100px; width:200px", class: "btn btn-info  btn-lg", method: :get %>
							<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="well">
							<%= button_to 'Lecturer', new_lecturer_registration_path, style: "height:100px; width:200px",class: "btn btn-info  btn-lg", method: :get %>
							<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="well">
							<%= button_to 'Teaching Assistant', new_teaching_assistant_registration_path, style: "height:100px; width:200px", class: "btn btn-info  btn-lg", method: :get %>
							</div>
							<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
						</div>
				</div>
	        <!-- </div> -->
	    </div>    
	</div> 
<% end %>

<!-- If the user is signed in, display "My Courses" button 
	 Author: Ahmed Akram
-->
<% if signed_in? %>
	<% if student_signed_in?%>
		<%= render 'students/show' %>
	<% elsif lecturer_signed_in? %>
		<%= render 'lecturers/show' %>
	<% elsif teaching_assistant_signed_in? %>
		<%= render 'teaching_assistants/show'%>
	<% end %>
<% end %>


<style type="text/css">
	.sh-con {
		background-size: 90%;
		padding-top: -10px;
		width: 100%;
	}

	.features .content_de {
		/*height: 100% !important;*/
		padding-top: 5%;
	}
	.features .fut_col {
		width: 50%;
	}
</style>