<%- unless student_signed_in? || lecturer_signed_in? || teaching_assistant_signed_in? %>
<!-- Introduction Section -->		
	<div class="intro">
		<!-- <img class="img-sm-responsive" src="/assets/Top3.jpg"> -->
		<div class="well container" >
			<div class="well row">
				<h1 class="head-test-b" style="color:red;"><h>Learn Coding or Don't, we don't care</h></h1>

			</div>
		</div>
	</div>
<!-- Features Section -->
	<div class="features">
		<div class="container padded">
		    <div class="well row">
		        <div class="col-lg-12"><h2>Main Options	</h2><hr></div>
		    </div>
		    <div class="well row">
		        <div class="col-sm-6 col-md-3">
		            <img class="img-circle img-responsive" src="/assets/logo.png">
		            <h3><b>Debugging</b></h3>
		            <p>Now you solve problems online</p>
		            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
		        </div>
		        <div class="col-sm-6 col-md-3">
		            <img class="img-circle img-responsive" src="/assets/logo.png">
		            <h3><b>Contests</b></h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
		        </div>
		        <div class="clearfix hidden-md hidden-lg"></div>
		        <div class="col-sm-6 col-md-3">
		            <img class="img-circle img-responsive" src="/assets/logo.png">
		            <h3><b>Questions/Answers</b></h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
		        </div>
		        <div class="col-sm-6 col-md-3">
		            <img class="img-circle img-responsive" src="/assets/logo.png">
		            <h3><b>Debugging</b></h3>
		            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		            <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
		        </div>
		    </div>
		</div>
	</div>    
<!-- SignUp Section -->
	<div class="info">
	    <div class="container">
	        <div class="row">
	        	<div class="well row-sm">
	                <h3 class="tpad">HOW IT WORKS</h3><hr>
	            </div>
	            <div class="well row-sm tabbable">
	                <!-- Tabs go here -->
	                <ul id="myTab" class="nav nav-tabs">
	                    <li class="active"><a href="#student" data-toggle="tab">Student</a></li>
	                    <li><a href="#lec" data-toggle="tab">Lecturer</a></li>
	                    <li><a href="#ta" data-toggle="tab">Teaching Assistant</a></li>
	                </ul>
	                <div class="tab-content">
	                    <div class="tab-pane fade in active" id="student"><p>You can solve many problems to get your level up in coding. competting with your friends, You also can have contests as well as asking profionals for questions for just ask on facebook,twitter </p></div>
	                    <div class="tab-pane fade in" id="lec"><p>You can create courses, adding topics,tracks, problems and create assignments as well as creating contests and assign Teaching Assistants for a course you teach.</p></div>
	                    <div class="tab-pane fade in" id="ta">

	                    </div>

		            </div>
		        </div>
		    </div>       
		</div>
	</div>
	<!-- 
	<div class="marketing">
	    <div class="container">
	        <div class="row">
	            <div class="col-sm-6">
	                <img class="img-responsive" src="images/app.png">
	            </div>
	            <div class="col-sm-6">
	                <h3 class="tpad">ALWAYS ON HAND</h3><hr>
	                <p>Download the App for your device now and try it for yourself. No matter how regularly you make a journey this App will completely change the way you travel.</p>
	                <p><a class="btn btn-large btn-primary" href="#">Get it now!</a></p>
	            </div>
	        </div>
	    </div>    
	</div> 
	 -->
	<div class="registration">
	    <!-- <div class="row"> -->
	        <div class="container">
				<div class="row" style="margin: 0px auto 0px auto">
					<div >
						<h1><b>&raquo;&raquo; Register now &laquo;&laquo;</b></h1>
					</div>
					<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
					<hr>
				</div>
				<!-- <br><br> -->
				<div class="row" style="margin: 0px auto 0px auto">
					<div class="col-sm-4">
						<div class="well">
							<%= button_to 'Student', new_student_registration_path, style: "height:100px; width:200px", class: "btn btn-success  btn-lg", method: :get %>
							<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="well">
							<%= button_to 'Lecturer', new_lecturer_registration_path, style: "height:100px; width:200px",class: "btn btn-success  btn-lg", method: :get %>
							<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="well">
							<%= button_to 'Teaching Assistant', new_teaching_assistant_registration_path, style: "height:100px; width:200px", class: "btn btn-success  btn-lg", method: :get %>
							</div>
							<div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
						</div>
				</div>
	        <!-- </div> -->
	    </div>    
	</div> 
<% end %>

<!-- If the user is signed in, display "My Courses" button 
	 Author: Ahmed Akram
-->
<% if signed_in? %>
	<% if student_signed_in?%>
		<%= render 'students/show' %>
	<% elsif lecturer_signed_in? %>
		<%= render 'lecturers/show' %>
	<% elsif teaching_assistant_signed_in? %>
		<%= render 'teaching_assistants/show'%>
	<% end %>
<% end %>

